In [1]:
factor = 0.1
exactDate_mode = 'added_u'

# Feature Matrix Generation

In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), Swissbib's goldstandard data has been processed to form records of pairs of duplicate and pairs of unique records. These records are the starting point for the final feature matrix generation and that is the reason, why the DataFrame was called feature base. As described in [[JudACaps](./A_References.ipynb#judacaps)], the next step will be an attribute-wise comparison of each attribute pair of each record in the original feature base. This comparison will generate similarity values for each attribute pair. It will halve the number of attributes replacing each attribute pair with one value expressing their degree of similarity. The goal of this chapter is a DataFrame with the full and final feature attributes. The values of these feature attributes will be used for training and performance testing of the machine learning models in the chapters to follow.

This chapter introduces similarity metrics for string comparisons. The metrics to be used for calculating its similarity will be decided for each attribute pair of the DataFrame built in the previous chapters.

## Table of Contents

- [Data Takeover](#Data-Takeover)
- [Object Distance and Similarity](#Object-Distance-and-Similarity)
    - [Mathematical Definitions](#Mathematical-Definitions)
    - [Library TextDistance](#Library-TextDistance)
- [Similarity Metrics on Attribute Level](#Similarity-Metrics-on-Attribute-Level)
    - [Table of Contents of Attribute Similarities](#Table-of-Contents-of-Attribute-Similarities)
- [DataFrame with Attributes and Similarity Features](#DataFrame-with-Attributes-and-Similarity-Features)
- [Summary](#Summary)
    - [Full Feature Matrix with Target Vector Handover](#Full-Feature-Matrix-with-Target-Vector-Handover)

## Data Takeover

Swissbib's raw data of the goldstandard has been processed in chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb). As the first step of this chapter, this data is loaded for further processing to the feature matrix and target vector for the subsequent machine learning model chapters.

In [2]:
import os
import pandas as pd
import pickle as pk
import bz2
import _pickle as cPickle

path_goldstandard = './daten_goldstandard'

# Restore metadata so far
with open(os.path.join(path_goldstandard, 'columns_metadata.pkl'), 'rb') as handle:
    columns_metadata_dict = pk.load(handle)

# Restore DataFrame with features from compressed pickle file
with bz2.BZ2File((os.path.join(
    path_goldstandard, 'feature_base_df.pkl')), 'rb') as file:
    df_feature_base = cPickle.load(file)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_feature_base.columns)

df_feature_base.head()

,035liste_x,035liste_y,century_x,century_y,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,coordinate_x,coordinate_y,corporate_110_x,corporate_110_y,corporate_710_x,corporate_710_y,corporate_full_x,corporate_full_y,decade_x,decade_y,docid_x,docid_y,doi_x,doi_y,duplicates,edition_x,edition_y,exactDate_x,exactDate_y,format_postfix_x,format_postfix_y,format_prefix_x,format_prefix_y,isbn_x,isbn_y,ismn_x,ismn_y,masters_docid,musicid_x,musicid_y,pages_x,pages_y,part_x,part_y,person_100_x,person_100_y,person_245c_x,person_245c_y,person_700_x,person_700_y,pubinit_x,pubinit_y,pubword_x,pubword_y,pubyear_x,pubyear_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,ttlpart_x,ttlpart_y,volumes_x,volumes_y
0,[(RERO)R006024329],[(RETROS)oai:agora.ch:apk-002:2005:284::157],uuuu,2005,,,,,[],[],,,,,,,uuuu,2005,247704504,318419599,,10.5169/seals-377277,0,,,uuuuuuuu,2005uuuu,020000,010053,bk,bk,[],[],,,50438953X,,,[22 p.],[],,284 2005,mozartwolfgang amadeus,bührerwalter,wolfgang amadeus mozart ; emanuel schikaneder ...,[walter bührer],"mendelhermann, schikanederemanuel",,s. mode's verlag (gustav mode),,[S. Mode's Verlag (Gustav Mode)],[],uuuuuuuu,2005,,,"die zauberflöte, oper in zwei akten",blick in die welt,,,"{'245': ['Die Zauberflöte', 'Oper in zwei Akte...",{'245': ['Blick in die Welt']},22,
1,"[(SNL)vtls001092110, (Sz)001092110]",[(RERO)R008551762],1996,2016,,,,,[],[],,,,,,,1996,2016,065307801,403228271,,,0,,,19969999,2016uuuu,030300,020053,cr,bk,[],[978-2-226-31734-6],,,504389955,,,[ v.],[1 livre électronique (e-book)],,,,moriartyliane,,liane moriarty ; traduit de l'anglais (austral...,,taupeaubéatrice,universitätsverlag,albin michel,[Universitätsverlag],[Albin Michel],19969999,2016,,,"bildungsforschung und bildungspraxis, educatio...","petits secrets, grands mensonges","educazione e ricerca., education et recherche....",,{'245': ['Bildungsforschung und Bildungspraxis...,"{'245': ['Petits secrets, grands mensonges']}",,1
2,[(RERO)1553399],"[(OCoLC)1001961995, (NEBIS)011047950]",1984,2017,,,,,[],[],,,interkantonale lehrmittelzentrale (luzern),,interkantonale lehrmittelzentrale (luzern),,1984,2017,212984225,500162255,,,0,,7,19849999,2017uuuu,020000,020000,bk,bk,[],[978-3-13-240799-2],,,504389599,,,[ v.],[334 Seiten],,,,trappehans-joachim,sigrid kessler... [et al.] ; [éd.:] interkanto...,"hans-joachim trappe, hans-peter schuster",kesslersigrid,schusterhans-peter,staatlicher lehrmittelverlag,,[Staatlicher Lehrmittelverlag],[],19849999,2017,,,"bonne chance!, cours de langue française, troi...",ekg-kurs für isabel,,,"{'245': ['Bonne chance!', 'cours de langue fra...",{'245': ['EKG-Kurs für Isabel']},,334
3,"[(VAUD)991004649259702852, (RNV)008339403-41bc...","[(OCoLC)945563378, (NEBIS)010612600]",2016,2016,,,,,[],[],,,,,,,2016,2016,41487336X,358479975,,,0,,,2016uuuu,2016uuuu,020000,020000,bk,bk,[978-2-07-046833-1],[978-0-7294-1157-8],,,504388916,,,[153 p.],[332 Seiten],3870 3870,13,voltaire,voltaire,voltaire ; éd. établie et annotée par jacques ...,voltaire ; [sous la direction de diego venturino],"van den heuveljacques, sollersphilippe",venturinodiego,gallimard,,[Gallimard],[],2016,2016,,,"traité sur la tolérance, à l'occasion de la mo...","siècle de louis xiv (v), chapitres 25-30",,,"{'245': ['Traité sur la tolérance', 'à l'occas...","{'245': ['Siècle de Louis XIV (V)', 'chapitres...",153,332
4,"[(OCoLC)806968650, (SGBN)000443345]","[(OCoLC)612031656, (IDSBB)001972916]",2000,1981,,,,,[],[],,,the metropolitan chorus und orchestra,,the metropolitan chorus und orchestra,,2000,1981,048543322,097287970,,,0,,3,2000uuuu,1981uuuu,010300,020000,vm,bk,[],[3-442-33001-7],,,504388967,073,,[1 DVD (ca. 169 Min.)],[252 S.],,33001 33001,mozartwolfgang amadeus,mozartwolfgang amadeus,w. a. mozart ; dir.: james livine ; the metrop...,wolgang amadeus mozart ; dieser opernführer wu...,"levinejames, hockneydavid","schikanederemanuel, pahlenkurt",deutsche grammophon,,[Deutsche Grammophon],[],2000,1981,,,die zauberflöte,die zauberflöte,,,{'245': ['Die Zauberflöte']},{'245': ['Die Zauberflöte']},1 169,252

Now, the feature base can be reduced to the columns used for processing.

In [3]:
# The DataFrame of pairs with target information
df_feature_base = df_feature_base[columns_metadata_dict['columns_to_use']]

df_feature_base.sample(n=5)

,duplicates,coordinate_E_x,coordinate_E_y,coordinate_N_x,coordinate_N_y,corporate_full_x,corporate_full_y,doi_x,doi_y,edition_x,edition_y,exactDate_x,exactDate_y,format_prefix_x,format_prefix_y,format_postfix_x,format_postfix_y,isbn_x,isbn_y,ismn_x,ismn_y,musicid_x,musicid_y,part_x,part_y,person_100_x,person_100_y,person_700_x,person_700_y,person_245c_x,person_245c_y,pubinit_x,pubinit_y,scale_x,scale_y,ttlfull_245_x,ttlfull_245_y,ttlfull_246_x,ttlfull_246_y,volumes_x,volumes_y
36140,0,,,,,,,,,,,1983uuuu,2008uuuu,mu,bk,010200,020053,[],"[978-3-598-31512-1 (print), 978-3-11-096916-0]",,,4553,,,32 32,mozartwolfgang amadeus,mortzfeldpeter,"grubergernot, orelalfred, moehnheinz, schikane...",raabepaul,wolfgang amadeus mozart ; text von emanuel sch...,"mortzfeld, peter; raabe, paul",,de gruyter saur,,,"die zauberflöte, eine deutsche oper in zwei au...",katalog der graphischen porträts in der herzog...,,,1 221,1 407
80941,0,,,,,,,,,,,1960uuuu,1985uuuu,mu,bk,010200,020000,[],"[3-15-007633-1, 3-15-027633-0]",,,10425,,71,7633,mozartwolfgang amadeus,austenjane,schikanederemanuel,,w. a. mozart ; hrsg. von kurt soldan ; [text v...,jane austen ; aus dem engl. übers. von ursula ...,,,,,"die zauberflöte, oper in 2 aufzügen",emma,,,1 188,560
27541,0,,,,,,,,,,,1763uuuu,2011uuuu,bk,vm,020000,010300,[],[],,,,,,1,voltaire,,,"schlöndorffvolker, frischmax, shepardsam, depl...",[voltaire],regie: volker schlöndorff ; nach dem roman von...,,absolut medien,,,traité sur la tolérance,homo faber,,,183,1 117
52787,0,,,,,schweizerische gesellschaft für bildungsforschung,,,,,,19791999,1955uuuu,cr,mu,030600,010200,[0252-9955],[],,,,10425,,,,mozartwolfgang amadeus,,,hrsg. schweizerische gesellschaft für bildungs...,w.a. mozart ; klavierauszug nach dem in der de...,,,,,"bildungsforschung und bildungspraxis, schweize...","die zauberflöte, oper in zwei aufzügen [kv 620...",,,,1
34911,0,,,,,schweizerische gesellschaft für bildungsforsch...,,,,,,19791999,19959999,cr,vm,030600,030100,[0252-9955],"[3-906721-36-1, 3-906721-41-8, 3-906721-37-X, ...",,,,,,2,,,,,hrsg. von der schweizerischen gesellschaft für...,sigrid kessler ... [et al.],universitätsverlag,,,,bildungsforschung und bildungspraxis,"bonne chance!, cours de langue française, nouv...",,,,16 13 15 13 15 13 22 13 15 6 1

In [4]:
print('Number of rows labelled as duplicates {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==1])))
print('Number of rows labelled as uniques {:,d}'.format(len(df_feature_base[
    df_feature_base.duplicates==0])))
print('Total number of rows in DataFrame {:,d}'.format(df_feature_base.shape[0],
      'number of columns', df_feature_base.shape[1]))

Number of rows labelled as duplicates 1,473
Number of rows labelled as uniques 103,182
Total number of rows in DataFrame 104,655

In [5]:
print('Part of duplicates (1) and uniques (0) in units of [%]')
print(round(100*df_feature_base.duplicates.value_counts(normalize=True), 2))

Part of duplicates (1) and uniques (0) in units of [%]
0    98.59
1     1.41
Name: duplicates, dtype: float64

DataFrame feature base is the starting point used for the further processing in this chapter.

## Object Distance and Similarity

A mathematical idea of distance and similarity is needed for understanding object pair comparison. This section starts with a motivation for calculating similarities and afterwards gives a very basic definition of the two central terms, distance and similarity. The text of this section is a summary of [[Chri2012](./A_References.ipynb#chri2012)].

### Mathematical Definitions

The attributes to be used for pair comparison may contain values of poor quality. The quality originates in the way the data has been entered at the very source. Manual data entry may suffer from mistyping, automatically scanned data may suffer from insufficiencies of the scanned base material or the recognition algorithm in the optical character recognition (OCR) processing. The basic step of a deduplication process is to identify the probability of two strings of a pair to be a pair of duplicates. This is done by calculating a similarity value between the two strings compared, rather than using an exact comparison function. Based on this common similarity value for an attribute pair, their being duplicates can be decided.

The term similarity is strongly coupled to the term of distance of two values of an attribute. Mathematically, a distance can be explained with the help of a distance function. A _distance function_ or _distance metric_ $dist(o_i, o_j)$ between two points or data objects $o_i$ and $o_j$ must fulfill four requirements.

1. $dist(o_i, o_i)=0$, the distance from an object to itself is zero.
- $dist(o_i, o_j)\ge 0$, the distance between two objects is a non-negative number.
- $dist(o_i, o_j)=dist(o_j, o_i)$, the distance between two objects is symmetric.
- $dist(o_i, o_j)\le dist(o_i, o_k)+dist(o_k, o_j)$, the triangular inequality must hold. It states that the direct distance beween two objects is never larger than the combined distance when going through a third object.

A distance value expresses the dissimilarity $d$ of two objects [[HanK2012](./A_References.ipynb#hank2012)] and can therefore be converted into a similarity value $s$, calculating $s = \frac{1}{d}$, assuming $d\gt 0$. Alternatively, assuming the distance value is normalised $0\le d\le 1$, the similarity value can be calculated to $s = 1-d$. A _similarity function_ $sim(a_i, aj)$ between two attributes which can be strings, numbers, dates, geographic locations, text, XML documents, etc. fulfills the general requirements.

1. $sim(a_i, a_i)=1$, the result of comparing a value with itself is an exact similarity.
- $sim(a_i, a_j)=0$, the similarity of values that are completely different from each other is 0. What accounts for 'complete different' depends upon the type of data that are compared.
- $0\lt sim(a_i, a_j)\lt 1$, an approximate similarity between exact similarity and total dissimilarity is calculated if two attribute values are somewhat similar to each other. What accounts for 'somewhat different' depends upon the type of data that are compared.

The dissimilarity between two objects $o_i$ and $o_j$ can be computed based on the ratio of mismatches,
$$
d(o_i, o_j) = \frac{p-m}{p},
$$
where $m$ is the number of matching attributes and $p$ is the total number of attributes describing the objects [[HanK2012](./A_References.ipynb#hank2012)]. Thus the similarity between two objects can be computed as
$$
sim(o_i, o_j) = 1 - d(o_i, o_j) = \frac{m}{p}.
$$

For data deduplication, a comparison function needs to be tailored to the type of underlying data. Although there is a correspondence between a similarity function and the mathematical concept of a distance function, not all known and implemented similarity comparison functions used for string pair comparison fulfill the requirements of a distance function. Some similarity functions are not symmetric, others do not fulfill the triangular inequality. Decision taking on the best similarity function for a string pair, will be based on the effect, a similarity function has for the purpose needed. In the case of this capstone project, this purpose is its capability to contribute to the prediction whether a pair of records is a pair duplicates or a pair of uniques.

### Library TextDistance

An internet research on string distance calculation with Python has revealed libraries [[StSi](./A_References.ipynb#stsi)], [[TeDi](./A_References.ipynb#tedi)] and seperate code snippets for distinct algorithms. After trying the referenced libraries and a downloaded code snippet for a Smith Waterman similarity [[SmWa](./A_References.ipynb#smwa)], the text distance library [[TeDi](./A_References.ipynb#tedi)] has been decided to be the best decision for this capstone project. The decision is based on the github statistics of stars and the date of the latest pull requests, indicating its popularity and maintenance activity of the library. A look at the API of the library, reveals the Python library to be a complete implementation (compared to suggestions of similarity metrics in [[Chri2012](./A_References.ipynb#chri2012)]) and easy to use.

In [6]:
# Install textdistance Python library - if not done, yet.
! pip install textdistance

Requirement already satisfied: textdistance in /Users/andreas/anaconda3/lib/python3.7/site-packages (4.1.5)

For using the library, see documentation in [[TeDi](./A_References.ipynb#tedi)]. For the purposes of this chapter, function $\texttt{.normalized}\_\texttt{similarity}()$ of an instantiated textdistance object will be used.

In [7]:
import textdistance as tedi

With the code line above, the library is imported for application in this chapter. In appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb) the effects of the similarity metrics of the library are compared for better understanding of their specific behaviour. This comparison for each attribute is the basis of deciding the best similarity metric available for an attribute pair.

## Similarity Metrics on Attribute Level

This section implements the decision for calculating the similarity metric for each attribute of the raw data based on appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The implementation is applied on a pair of attributes of two records, resulting in a new attribute, the similarity value, of the final feature matrix. A general function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$ is provided by the code file [data_preparation_funcs.py](./data_preparation_funcs.py) for transforming two attributes into their feature attribute holding their similarity value.

In [8]:
import data_preparation_funcs as dpf

The two dictionaries of the following code cell will be filled by function $\texttt{.build}\_\texttt{delta}\_\texttt{feature}()$.

In [9]:
columns_metadata_dict['similarity_metrics'] = {}
columns_metadata_dict['features'] = []

### Table of Contents of Attribute Similarities

- [coordinate](#coordinate)
- [corporate](#corporate)
- [doi](#doi)
- [edition](#edition)
- [exactDate](#exactDate)
- [format](#format)
- [isbn](#isbn)
- [ismn](#ismn)
- [musicid](#musicid)
- [part](#part)
- [person](#person)
- [pubinit](#pubinit)
- [scale](#scale)
- [ttlfull](#ttlfull)
- [volumes](#volumes)

### coordinate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{coordinate}$ holds coordinates of maps. To decide whether a map covers the same geographical range, a metric will be chosen that compares the coordinate number digits from left to right. The more digits are found to be equal, the higher the similarity value is calculated. The comparison stops with the first digit pair that differs. This algorithm is satisfied by the LCS (Longest Common Substring comparison) algorithm and generates the wanted result, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb).

In [10]:
attribute = 'coordinate'

columns_metadata_dict['similarity_metrics'][attribute+'_E'] = tedi.LCSStr()
columns_metadata_dict['similarity_metrics'][attribute+'_N'] = tedi.LCSStr()

ne_values = ['_E', '_N']

for ne in ne_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+ne,
        columns_metadata_dict['similarity_metrics'][attribute+ne],
        columns_metadata_dict)

The length of attribute $\texttt{coordinate}$ is exactly eight digits. The distinct similarity values that may occur form a discrete set of values with a distance of $\frac{1}{8}$ between adjacent values.

In [11]:
uniques, uniques_len = {}, {}

for ne in ne_values :
    uniques[attribute+ne], uniques_len[attribute+ne] = dpf.determine_similarity_values(
        df_feature_base, attribute+ne)

coordinate_E values range [0.    0.375 0.5   0.625 0.875 1.   ]
coordinate_N values range [0.    0.375 0.5   0.75  0.875 1.   ]

Looking at some samples of the feature matrix reveals a good match to the expectations.

In [12]:
position = 3

for ne in ne_values :
    dpf.show_samples_interval(
        df_feature_base, attribute+ne,
        uniques[attribute+ne][uniques_len[attribute+ne]-position],
        uniques[attribute+ne][uniques_len[attribute+ne]-position+1]
    )

        duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
104047           1               0.875       e0080851       e0080855
64041            0               0.875       e0080851       e0080855
11796            0               0.875       e0080851       e0080855
48430            0               0.875       e0080855       e0080851
104051           1               0.875       e0080855       e0080851

0.625 <= coordinate_E_delta <= 0.875

        duplicates  coordinate_N_delta coordinate_N_x coordinate_N_y
43536            0                0.75       n0460826       n0460833
52781            0                0.75       n0460821       n0460833
36395            0                0.75       n0460826       n0460833
102522           0                0.75       n0460826       n0460833
31699            0                0.75       n0460826       n0460833

0.75 <= coordinate_N_delta <= 0.875

The samples above show the wanted similarity behaviour for value ranges greater than 0. The metric has the weakness, though, that empty coordinate values, e.g. for bibliographic units other than maps, have each been calculated to a similarity of 0. Some samples for duplicates in the training data are shown below.

In [13]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute+'_E', uniques[attribute+'_E'][0], uniques[attribute+'_E'][1], 10)

        duplicates  coordinate_E_delta coordinate_E_x coordinate_E_y
104181           1                 0.0
104570           1                 0.0
103366           1                 0.0
103201           1                 0.0
103313           1                 0.0
104038           1                 0.0       e0080855
103504           1                 0.0
103595           1                 0.0
104142           1                 0.0
103198           1                 0.0

0.0 <= coordinate_E_delta <= 0.375

This downside shall be avoided by marking pairs of missing coordinate values on both sides with a special negative value, which will point out to the models to be trained, the special case of missing information in a row. The implementation of this logic is done in function $\texttt{.mark}\_\texttt{missing}()$. The absolute value of this negative number is conrolled by a factor which is passed to the function as a parameter. The function handles explicitly two cases. The first one is missing information in both attributes (resulting in $-1*\texttt{factor}$) and the second one is missing information in only one of the two attributes (resulting in $-0.5*\texttt{factor}$).

In [14]:
for ne in ne_values :
    df_feature_base = dpf.mark_missing(df_feature_base, attribute+ne, factor)

### corporate

Attribute $\texttt{corporate}$ is a collection of corporate names. The Monge-Elkan metric compares string tokens pairwise [[Chri2012](./A_References.ipynb#chri2012)] while the LCS metric searches for the longest common substring. Assessing the differences of these two metrics with the help of their values distribution in chapter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb), reveals a better distribution behaviour for LCS. Therefore, the LCS metric will be chosen for this attribute.

In [15]:
attribute = 'corporate_full'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.StrCmp95()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [16]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

corporate_full values range [0.         0.01333333 0.01428571 0.01639344 0.01666667 0.01694915
 0.01818182 0.02       0.02173913 0.02272727 0.02380952 0.02531646
 0.02542373 0.02666667 0.02702703 0.02727273 0.02857143 0.03
 0.03030303 0.03125    0.03278689 0.03333333 0.03389831 0.03448276
 0.03571429 0.03636364 0.03773585 0.03797468 0.03846154 0.03921569
 0.04       0.04081633 0.04166667 0.04237288 0.04255319 0.04285714
 0.04347826 0.04444444 0.04545455 0.046875   0.04761905 0.04878049
 0.04918033 0.05       0.05263158 0.05333333 0.05405405 0.05454545
 0.05555556 0.05660377 0.05714286 0.05882353 0.05932203 0.06
 0.06060606 0.06122449 0.0625     0.06329114 0.06363636 0.06382979
 0.06451613 0.06521739 0.06557377 0.06666667 0.06779661 0.06818182
 0.06896552 0.07       0.07142857 0.07272727 0.07317073 0.075
 0.0754717  0.07627119 0.07692308 0.078125   0.07843137 0.07894737
 0.08       0.08108108 0.08163265 0.08181818 0.08333333 0.08474576
 0.08510638 0.08571429 0.08695652 0.08888889 0.09090909 0.09333333
 0.09375    0.0952381  0.09756098 0.09803922 0.1        0.10204082
 0.10526316 0.10810811 0.10869565 0.11111111 0.1147541  0.11538462
 0.11666667 0.11904762 0.12       0.12121212 0.12195122 0.12244898
 0.125      0.12727273 0.13043478 0.13157895 0.13207547 0.13513514
 0.13636364 0.1372549  0.14285714 0.14634146 0.15       0.15217391
 0.15384615 0.15555556 0.16326531 0.17241379 0.17391304 0.17647059
 0.17777778 0.18181818 0.18421053 0.18918919 0.19230769 0.19607843
 0.19672131 0.20408163 0.21212121 0.21818182 0.24       0.25
 0.26666667 0.27027027 0.28181818 0.29090909 0.30612245 0.31111111
 0.31914894 0.33636364 0.34545455 0.34615385 0.35294118 0.35483871
 0.35849057 0.36842105 0.37837838 0.38666667 0.38709677 0.4
 0.44303797 0.45       0.45098039 0.46835443 0.47142857 0.47727273
 0.49       0.50819672 0.52727273 0.55       0.58333333 0.68888889
 0.7826087  0.78571429 0.8        0.81578947 0.84444444 1.        ]

Its $110$ part is sparsely filled and even its $710$ part comes along with a little more than $10\%$ of filling, only. The LCS metric generates a similarity of 1 for the cases where both strings of a pair are empty. Missing values on both sides may be an indicator for a pair of duplicates but due to the sparsely available information, it is a weak indicator. Therefore, the pairs with missing data on both sides of the pair, will be marked with the negative value.

In [17]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

Some sample cases are shown below for both $\texttt{corporate}$ features.

In [18]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1],
    attribute, 0.0, 1.0, 20
)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
104609,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
104610,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
103612,1,1.000000,wiener philharmoniker,wiener philharmoniker
103387,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung
103409,1,1.000000,schweizerische gesellschaft für bildungsforsch...,schweizerische gesellschaft für bildungsforsch...
104602,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
103732,1,1.000000,eidgenössisches topographisches bureau eidgenö...,eidgenössisches topographisches bureau eidgenö...
104292,1,1.000000,interkantonale lehrmittelzentrale (luzern),interkantonale lehrmittelzentrale (luzern)
103935,1,1.000000,société suisse pour la recherche en éducation,société suisse pour la recherche en éducation
104624,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
104562,1,1.000000,schweizerische normen-vereinigung,schweizerische normen-vereinigung
103195,1,0.527273,"metropolitan operaorchestra, metropolitan oper...","metropolitan opera orchestra, metropolitan ope..."
103934,1,1.000000,société suisse pour la recherche en éducation,société suisse pour la recherche en éducation
103382,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung
104021,1,1.000000,interkantonale lehrmittelzentrale,interkantonale lehrmittelzentrale
103194,1,0.400000,"metropolitan opera orchestra, metropolitan ope...","metropolitan opera (new york)orchestra, metrop..."
103939,1,1.000000,société suisse pour la recherche en éducation,société suisse pour la recherche en éducation
103347,1,0.490000,schweizerische gesellschaft für bildungsforsch...,schweizerische gesellschaft für bildungsforschung
103615,1,1.000000,wiener philharmoniker,wiener philharmoniker
103356,1,1.000000,schweizerische gesellschaft für bildungsforschung,schweizerische gesellschaft für bildungsforschung

0.0 <= corporate_full_delta <= 1.0

In [19]:
position = uniques_len[attribute]//2 # Let's have a look in the middle range of the similarities.

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 20)

,duplicates,corporate_full_delta,corporate_full_x,corporate_full_y
99814,0,0.088889,philharmonia orchestra (london),schweizeidgenössisches topographisches bureau
6925,0,0.088889,the metropolitan chorus und orchestra,schweizeidgenössisches topographisches bureau
19719,0,0.088889,société suisse pour la recherche en éducation,schweizerische normen-vereinigung
18187,0,0.088889,société suisse pour la recherche en éducation,schweizerische normen-vereinigung
35572,0,0.090909,interkantonale lehrmittelzentrale,eidgenössische landestopographie
60311,0,0.090909,eidgenössische landestopographie,interkantonale lehrmittelzentrale
47795,0,0.090909,interkantonale lehrmittelzentrale,eidgenössische landestopographie
77152,0,0.090909,schweizerische normen-vereinigung,"husner, pfarrei sachseln"
53175,0,0.090909,interkantonale lehrmittelzentrale,eidgenössische landestopographie
102361,0,0.088889,société suisse pour la recherche en éducation,eidgenössische landestopographie
69030,0,0.088889,philharmonia orchestra (london),schweizeidgenössisches topographisches bureau
57618,0,0.090909,opernhaus orchester zürich,"staatsoper (wien)chor, wiener philharmoniker"
42542,0,0.090909,schweizerische normen-vereinigung,"husner, kloster rheinau"
78545,0,0.090909,schweizerische normen-vereinigung,philadelphia orchestra
68169,0,0.090909,schweizerische normen-vereinigung,arts florissants
89877,0,0.088889,philharmonia orchestra (london),schweizeidgenössisches topographisches bureau
102237,0,0.088889,philharmonia orchestra (london),schweizeidgenössisches topographisches bureau
67933,0,0.088889,opernhaus orchester zürich,schweizeidgenössisches topographisches bureau
95002,0,0.090909,arts florissants,philadelphia orchestra
55143,0,0.090909,interkantonale lehrmittelzentrale,arts florissants

0.0888888888888889 <= corporate_full_delta <= 0.09333333333333338

### doi

Swissbib uses an explicit $\texttt{doi}$ attribute for its deduplication implementation. In chapter [Goldstandard and Data Preparation](./2_GoldstandardDataPreparation.ipynb), the real doi identifier has been isolated with the help of a preprocessing function $\texttt{.reduce}\_\texttt{to}\_\texttt{doi}\_\texttt{element}()$, see [Data Analysis](./1_DataAnalysis.ipynb). Attribute $\texttt{doi}$ contains a single string value. The Identity metric will be used for comparing the string values of a pair in a row, calculating a similarity value of 1.0 or 0.0 for each pair. If one list is empty a value of 0 is returned.

In [20]:
attribute = 'doi'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base['doi_delta'].unique()

array([0., 1.])

Some sample cases are shown below for each category of $\texttt{doi}\_\texttt{delta}$.

In [21]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

doi values range [0. 1.]

       duplicates  doi_delta                     doi_x                 doi_y
16343           0        0.0                            10.5169/seals-377422
95532           0        0.0                            10.5169/seals-377305
49224           0        0.0                            10.5169/seals-377362
57323           0        0.0                            10.5169/seals-377160
40117           0        0.0                            10.5169/seals-376437
90410           0        0.0                            10.5169/seals-376473
67002           0        0.0                            10.3931/e-rara-50903
64877           0        0.0  10.5451/unibas-006503313
26570           0        0.0      10.1055/b-005-143650
7684            0        0.0                            10.5169/seals-377362

doi_delta = 0.0

       duplicates  doi_delta doi_x doi_y
62268           0        1.0
42616           0        1.0
36287           0        1.0
15873           0        1.0
83172           0        1.0
29876           0        1.0
27103           0        1.0
77933           0        1.0
46321           0        1.0
87484           0        1.0

doi_delta = 1.0

In [22]:
# Let's have a look at some non-empty doi elements
df_doi_with_element = df_feature_base[df_feature_base.doi_x.apply(lambda x : len(x) > 0)]

for doi_delta_value in df_feature_base['doi_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['doi_delta']==doi_delta_value])
    )

    dpf.show_samples_distinct(df_doi_with_element, 'doi', doi_delta_value, number_of_max_samples)
    print(f'doi_delta = {doi_delta_value}')

       duplicates  doi_delta                      doi_x                 doi_y
45182           0        0.0         10.1093/cid/cir669
95486           0        0.0         10.1093/cid/cir669
84015           0        0.0        10.1055/b-002-26639
466             0        0.0  10.1007/978-3-642-41698-9  10.5169/seals-377130
70195           0        0.0         10.1093/cid/cir669
82492           0        0.0         10.1093/cid/ciu795  10.5169/seals-377422
95402           0        0.0        10.1055/b-002-26639
17269           0        0.0         10.1093/cid/cir669
1036            0        0.0       10.1055/b-005-143650
56547           0        0.0         10.1093/cid/ciu795

doi_delta = 0.0

,duplicates,doi_delta,doi_x,doi_y
104443,1,1.0,10.1093/ndt/gft319,10.1093/ndt/gft319
104448,1,1.0,10.1093/cid/ciu795,10.1093/cid/ciu795
104442,1,1.0,10.1007/978-3-642-41698-9,10.1007/978-3-642-41698-9
104653,1,1.0,10.1055/b-005-143650,10.1055/b-005-143650
104371,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669
104375,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669
104516,1,1.0,10.5451/unibas-006503313,10.5451/unibas-006503313
104374,1,1.0,10.1093/cid/cir669,10.1093/cid/cir669
104434,1,1.0,10.1007/978-3-642-41698-9,10.1007/978-3-642-41698-9
104444,1,1.0,10.1093/ndt/gft319,10.1093/ndt/gft319

doi_delta = 1.0

As can be seen above, a value of 1.0 is returned if both strings of a pair are empty. As the attribute filling of $\texttt{doi}$ is sparse, see chapter [Data Analysis](./1_DataAnalysis.ipynb), the $\texttt{doi}\_\texttt{delta}$ indicates strongly a pair of duplicates for most rows. To avoid such misleading identity indication, function $\texttt{.mark}\_\texttt{missing}()$ will be applied to the attribute.

In [23]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### edition

In its original form in Swissbib's raw data, the edition statement is a string value which may have several words. The modelling on this attribute has been tried with and without stripping letter characters from the string. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). A Jaccard similarity is tried for this attribute.

In [24]:
attribute = 'edition'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [25]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

import numpy as np

edition_delta_uniques = np.sort(df_feature_base['edition_delta'].unique())
edition_delta_uniques_len = len(edition_delta_uniques)
print('edition values range', edition_delta_uniques[:30])

edition values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.4        0.5        0.6        1.        ]
edition values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.4        0.5        0.6        1.        ]

The comparison results in a wide number of distinct similarity values for the goldstandard data set. Below, some examples are shown.

In [26]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position],
    edition_delta_uniques[edition_delta_uniques_len-position+2], 10)

position = edition_delta_uniques_len//2

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

       duplicates  edition_delta edition_x edition_y
41527           0            1.0
19276           0            1.0
24119           0            1.0
50596           0            1.0
69239           0            1.0
30505           0            1.0
97622           0            1.0
89755           0            1.0
23791           0            1.0
30416           0            1.0

0.6 <= edition_delta <= 1.0

       duplicates  edition_delta edition_x edition_y
49924           0            0.0                1994
8792            0            0.0        10
43816           0            0.0                   7
58408           0            0.0                   1
4043            0            0.0                   5
56830           0            0.0                  13
17306           0            0.0                   7
53418           0            0.0         8
21660           0            0.0                   5
75856           0            0.0                1907

0.0 <= edition_delta <= 0.1428571428571428

       duplicates  edition_delta edition_x edition_y
45870           0           0.25         1      1998
5871            0           0.25         4      1943
17037           0           0.25      1863         1
98735           0           0.20     10425         2
74533           0           0.20     10425         2
91701           0           0.25      1791         7
36208           0           0.25         6      1926
99882           0           0.25         6      1926
95007           0           0.25         1      1885
86933           0           0.20        10      1899

0.19999999999999996 <= edition_delta <= 0.25

Again, for $\texttt{edition}\_\texttt{delta} = 1$, many empty values of the $\texttt{edition}$ attribute can be observed. These will be marked with the special negative value in the data with the goal to distinguish them from the matching attribute pairs.

In [27]:
df_feature_base = dpf.mark_missing(df_feature_base, 'edition', factor)

In [28]:
position = edition_delta_uniques_len

dpf.show_samples_interval(
    df_feature_base, 'edition',
    edition_delta_uniques[edition_delta_uniques_len-position-2],
    edition_delta_uniques[edition_delta_uniques_len-position-1], 10)

        duplicates  edition_delta edition_x edition_y
76965            0            1.0         2         2
96035            0            1.0         6         6
10592            0            1.0         1         1
30634            0            1.0         2         2
104267           1            1.0         3         3
9509             0            1.0         2         2
1364             0            1.0         1         1
35632            0            1.0         2         2
51096            0            1.0         5         5
104544           1            1.0         2         2

0.6 <= edition_delta <= 1.0

### exactDate

As discussed in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{exactDate}$ holds a year number stored in the first four digits. Letter 'u' is used as a placeholder for an unknown digit. The attribute may hold some month and day or a second year information in its second four digits, additionally.

The attribute will be kept as a string and will not be transformed to an integer. The feature attribute of the record pair to be compared will be calculated with a modified Hamming algorithm, see appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb). The resulting similarity will be stored in a new attribute $\texttt{exactDate}\_\texttt{delta}$ which will be taken for the model calculation.

As can be seen in chapter [Decision Tree Model](./6_DecisionTreeModel.ipynb), this attribute is important for prediction. Different ways of increasing the weight of the unknown status of a digit have been tried. The different ways can be seen in the implementations below. The algorithm decided for the final simulation will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb).

In [29]:
import string

def no_xor (x_side, y_side) :
    number = 0
    for i in range(len(x_side)) :
        if ((x_side[i] in string.ascii_lowercase) | (y_side[i] in string.ascii_lowercase)) & (x_side[i] != y_side[i]) :
            number = number + 1
    return number

print('Example comparison results in a value of', no_xor ('202a0aaa', '1920uuuu'))

Example comparison results in a value of 5

In [30]:
attribute = 'exactDate'

# Replace letter 'u' with letter 'a' for one of the two strings.
#  As an effect, the resulting Hamming similarity for a letter
#  instead of a numerical digit in either string will add with an amount 0.
df_feature_base[attribute+'_x'] = df_feature_base.exactDate_x.str.replace('u', 'a')

# Compute Hamming similarity for century string pair.
columns_metadata_dict['similarity_metrics'][attribute] = tedi.Hamming()

unknown_share = 16

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

if exactDate_mode == 'added_u':
    # Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only maximum number of letter digits in both strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        max(x[attribute+'_x'].count('a'), x[attribute+'_y'].count('u'))/unknown_share, axis=1
    )
elif exactDate_mode == 'xor':
    # Add amount of 1/16 to Hamming similarity for every letter digit.
    #  But only number of position-wise xor-ed letter digits in the two strings of a pair.
    df_feature_base[attribute+'_delta'] = df_feature_base[[
        attribute+'_x', attribute+'_y', attribute+'_delta']].apply(
        lambda x : x[attribute+'_delta'] + 
        no_xor(x[attribute+'_x'], x[attribute+'_y'])/unknown_share, axis=1
    )

In [31]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']].sample(n=10)

       exactDate_x exactDate_y  exactDate_delta
101380    19791999    1988uuuu            0.500
63112     1981aaaa    1490uuuu            0.375
6158      19702006    1996uuuu            0.500
25009     2005aaaa    2016uuuu            0.500
13683     2016aaaa    1988uuuu            0.250
27414     1963aaaa    1820uuuu            0.375
70781     1999aaaa    1995uuuu            0.625
14579     1979aaaa    2000uuuu            0.250
55920     1471aaaa    2017uuuu            0.250
958       2008aaaa    1941uuuu            0.250

All resulting values of equal strings are equal to 1.

In [32]:
df_feature_base[['exactDate_x', 'exactDate_y', 'exactDate_delta']][
    df_feature_base.exactDate_x == df_feature_base.exactDate_y
].sort_values('exactDate_delta', ascending=False).head()

       exactDate_x exactDate_y  exactDate_delta
3747      20151475    20151475              1.0
103956    19561791    19561791              1.0
103962    20091990    20091990              1.0
103963    20091990    20091990              1.0
103966    20091990    20091990              1.0

A discrete set of different similarity values can be found in the attribute deltas. Some sample records are shown below.

In [33]:
exactDate_deltas = np.sort(df_feature_base.exactDate_delta.unique())
exactDate_deltas

array([0.    , 0.125 , 0.25  , 0.3125, 0.375 , 0.4375, 0.5   , 0.5625,
       0.625 , 0.6875, 0.75  , 0.875 , 1.    ])

In [34]:
sample_size = 5

for i in exactDate_deltas :
    dpf.show_samples_distinct(df_feature_base, 'exactDate', i, sample_size)
    print(f'exactDate_delta = {i}')

       duplicates  exactDate_delta exactDate_x exactDate_y
92412           0              0.0    20091990    19942008
67423           0              0.0    18761920    20022003
73910           0              0.0    18761920    20172016
38077           0              0.0    19959999    20012004
45925           0              0.0    20159999    19982004

exactDate_delta = 0.0

        duplicates  exactDate_delta exactDate_x exactDate_y
50924            0            0.125    18501875    19969999
69596            0            0.125    19959999    18701880
100949           0            0.125    20159999    17931797
72666            0            0.125    18801890    20151475
3082             0            0.125    20151475    18971989

exactDate_delta = 0.125

       duplicates  exactDate_delta exactDate_x exactDate_y
80687           0             0.25    19201929    2006uuuu
32694           0             0.25    2016aaaa    1960uuuu
24508           0             0.25    2016aaaa    1944uuuu
3920            0             0.25    2005aaaa    1932uuuu
52585           0             0.25    1984aaaa    2007uuuu

exactDate_delta = 0.25

        duplicates  exactDate_delta exactDate_x exactDate_y
87180            0           0.3125    2017aaaa    188uuuuu
56813            0           0.3125    20159999    189uuuuu
72859            0           0.3125    2005aaaa    188uuuuu
101126           0           0.3125    2005aaaa    192uuuuu
70451            0           0.3125    2014aaaa    192uuuuu

exactDate_delta = 0.3125

       duplicates  exactDate_delta exactDate_x exactDate_y
19134           0            0.375    18aaaaaa    2010uuuu
42097           0            0.375    1932aaaa    1490uuuu
62545           0            0.375    2000aaaa    1970uuuu
46700           0            0.375    19829999    2012uuuu
1670            0            0.375    2005aaaa    1902uuuu

exactDate_delta = 0.375

       duplicates  exactDate_delta exactDate_x exactDate_y
48278           0           0.4375    170aaaaa    2002uuuu
15877           0           0.4375    1979aaaa    181uuuuu
56384           0           0.4375    170aaaaa    1995uuuu
83623           0           0.4375    2011aaaa    181uuuuu
51992           0           0.4375    1880aaaa    192uuuuu

exactDate_delta = 0.4375

       duplicates  exactDate_delta exactDate_x exactDate_y
23810           0              0.5    1900aaaa    19881862
75781           0              0.5    1880aaaa    1982uuuu
14694           0              0.5    19702006    1991uuuu
90851           0              0.5    aaaaaaaa    2011uuuu
4681            0              0.5    1987aaaa    1904uuuu

exactDate_delta = 0.5

       duplicates  exactDate_delta exactDate_x exactDate_y
9176            0           0.5625    1981aaaa    193uuuuu
9314            0           0.5625    1982aaaa    193uuuuu
38435           0           0.5625    1999aaaa    192uuuuu
37350           0           0.5625    1982aaaa    192uuuuu
25763           0           0.5625    1999aaaa    189uuuuu

exactDate_delta = 0.5625

       duplicates  exactDate_delta exactDate_x exactDate_y
43339           0            0.625    1982aaaa    1981uuuu
59675           0            0.625    19791999    1970uuuu
11800           0            0.625    1982aaaa    1988uuuu
92253           0            0.625    2005aaaa    2007uuuu
98515           0            0.625    2009aaaa    2008uuuu

exactDate_delta = 0.625

        duplicates  exactDate_delta exactDate_x exactDate_y
24647            0           0.6875    2008aaaa    200uuuuu
68029            0           0.6875    2000aaaa    200uuuuu
26267            0           0.6875    2000aaaa    200uuuuu
104222           1           0.6875    183aaaaa    1836uuuu
69864            0           0.6875    2007aaaa    200uuuuu

exactDate_delta = 0.6875

        duplicates  exactDate_delta exactDate_x exactDate_y
103422           1             0.75    2012aaaa    2012uuuu
103710           1             0.75    1970aaaa    1970uuuu
91894            0             0.75    2011aaaa    2011uuuu
86631            0             0.75    1982aaaa    1982uuuu
80442            0             0.75    19949999    1994uuuu

exactDate_delta = 0.75

        duplicates  exactDate_delta exactDate_x exactDate_y
37756            0            0.875    19959999    19969999
93638            0            0.875    19959999    19uu9999
72560            0            0.875    19959999    19989999
103978           1            0.875    20091991    20091990
22460            0            0.875    19969999    19uu9999

exactDate_delta = 0.875

        duplicates  exactDate_delta exactDate_x exactDate_y
104111           1              1.0    18801890    18801890
103941           1              1.0    19791999    19791999
103920           1              1.0    19702006    19702006
103394           1              1.0    19791999    19791999
103371           1              1.0    19791999    19791999

exactDate_delta = 1.0

### format

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{format}$ has been split up into two new attributes $\texttt{format}\_\texttt{prefix}$ and $\texttt{format}\_\texttt{postfix}$ which will be compared by a different similarity metrics.

- As the quality of $\texttt{format}\_\texttt{prefix}$ is expected to be high, an identity comparison should be sufficient.
- Due to the observed structure of $\texttt{format}\_\texttt{postfix}$, a q-gram based comparison will be chosen.

In [35]:
attribute = 'format'

columns_metadata_dict['similarity_metrics'][attribute+'_prefix'] = tedi.Identity()
columns_metadata_dict['similarity_metrics'][attribute+'_postfix'] = tedi.Jaccard(qval=2)

pfix_values = ['_prefix', '_postfix']

for pf in pfix_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pf,
        columns_metadata_dict['similarity_metrics'][attribute+pf],
        columns_metadata_dict)

In [36]:
for i in df_feature_base.format_prefix_delta[
    df_feature_base.format_prefix_x != df_feature_base.format_prefix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_prefix', i)
    print(f'format_prefix_delta = {i}')

       duplicates  format_prefix_delta format_prefix_x format_prefix_y
25767           0                  0.0              cr              bk
7820            0                  0.0              mu              bk
17939           0                  0.0              vm              bk
80829           0                  0.0              mp              bk
18706           0                  0.0              mu              bk

format_prefix_delta = 0.0

In [37]:
for i in df_feature_base.format_postfix_delta[
    df_feature_base.format_postfix_x != df_feature_base.format_postfix_y].unique():
    
    dpf.show_samples_distinct(df_feature_base, 'format_postfix', i)
    print(f'format_postfix_delta = {i}')

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
62483           0              0.111111           040100           020053
31107           0              0.111111           010300           020000
93760           0              0.111111           010100           020000
44323           0              0.111111           020000           010300
84329           0              0.111111           010100           020000

format_postfix_delta = 0.11111111111111116

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
99859           0              0.428571           010300           010053
44288           0              0.428571           020000           010200
32326           0              0.428571           020053           010053
64659           0              0.428571           010200           010300
31868           0              0.428571           020300           010300

format_postfix_delta = 0.4285714285714286

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
43414           0                  0.25           020000           020353
31981           0                  0.25           030500           020053
82568           0                  0.25           010347           010100
62005           0                  0.25           030500           010053
68277           0                  0.25           010347           010000

format_postfix_delta = 0.25

       duplicates  format_postfix_delta format_postfix_x format_postfix_y
91020           0                   0.0           010100           020347
22013           0                   0.0           010347           020000
4283            0                   0.0           030653           020000
20893           0                   0.0           010100           020353
90588           0                   0.0           020000           030653

format_postfix_delta = 0.0

        duplicates  format_postfix_delta format_postfix_x format_postfix_y
68134            0                   1.0           020000           020000
17047            0                   1.0           010100           010100
68188            0                   1.0           020000           020000
5544             0                   1.0           020000           020000
104115           1                   1.0           030500           030500

format_postfix_delta = 1.0

### isbn

Swissbib uses each string element of the $\texttt{isbn}$ list separately for comparing with each string element of its comparison $\texttt{isbn}$ list. If two bibliographic units hold at least one element in common, this is interpreted as a strong indicator for duplicates [[WiCo2001](./A_References.ipynb#wico2001)].

This hard logic is used in a modified way in the context of this capstone project. A special comparison function $\texttt{.build}\_\texttt{delta}\_\texttt{isbn}()$ has been implemented that compares each list element of the left-hand side with each list element of the right-hand side of a pair. According to Swissbib's implementation, the Identity metric is used for string comparison, calculating a similarity value of 1.0 or 0.0 for each list element pair. For normalisation reasons, the sum of similarity values is divided by the number of elements of the smaller list. If both lists are empty a value of 1.0 is returned. If only one list is empty a value of 0.0 is returned.

In [38]:
attribute = 'isbn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

df_feature_base[attribute+'_delta'].unique()

array([1. , 0. , 0.5])

Some sample cases are shown below for each category of $\texttt{isbn_delta}$.

In [39]:
for isbn_delta_value in df_feature_base['isbn_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base['isbn_delta']==isbn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'isbn', isbn_delta_value, number_of_max_samples)
    print(f'isbn_delta = {isbn_delta_value}')

,duplicates,isbn_delta,isbn_x,isbn_y
47593,0,1.0,[],[]
62139,0,1.0,[],[]
57754,0,1.0,[],[]
72594,0,1.0,[],[]
92894,0,1.0,[],[]
54557,0,1.0,[],[]
43349,0,1.0,[],[]
103330,1,1.0,"[978-3-7815-1531-4, 3-7815-1531-1]",[978-3-7815-1531-4]
34646,0,1.0,[],[]
101196,0,1.0,[],[]

isbn_delta = 1.0

,duplicates,isbn_delta,isbn_x,isbn_y
26359,0,0.0,[],[3-442-33001-7]
66549,0,0.0,[],"[978-3-7024-0742-1, 978-3-7024-3104-4]"
78882,0,0.0,[978-0-7294-1151-6],[]
59141,0,0.0,[978-3-7255-6535-1],[978-2-36762-285-9]
21491,0,0.0,[978-3-7815-1531-4],[]
58608,0,0.0,[],"[978-3-598-31499-5 (print), 978-3-11-097005-0]"
44345,0,0.0,[978-3-7255-6535-1],[3-442-33001-7]
27552,0,0.0,[2-226-17006-5],"[978-3-598-31495-7 (print), 978-3-11-097085-2]"
55495,0,0.0,[],[3-598-31512-0]
43117,0,0.0,[978-3-7255-6535-1],[978-3-906721-38-5]

isbn_delta = 0.0

,duplicates,isbn_delta,isbn_x,isbn_y
104383,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
104381,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
104377,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"
104384,1,0.5,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-13-127286-7, 3-13-127286-4]"
104392,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"
104387,1,0.5,"[978-3-13-127286-7, 3-13-127286-4]","[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]"

isbn_delta = 0.5

For attribute $\texttt{isbn}$, the special marking of missing values is omitted.

### ismn

This attribute will be processed with the identity similarity metric. The reasoning for this decision is the same as for similar attributes above.

In [40]:
attribute = 'ismn'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Identity()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [41]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

ismn values range [0. 1.]

In [42]:
for ismn_delta_value in df_feature_base[attribute+'_delta'].unique():
    number_of_max_samples = min(
        10,
        len(df_feature_base[df_feature_base[attribute+'_delta']==ismn_delta_value])
    )

    dpf.show_samples_distinct(df_feature_base, 'ismn', ismn_delta_value, number_of_max_samples)
    print(f'ismn_delta = {ismn_delta_value}')

        duplicates  ismn_delta ismn_x ismn_y
98722            0         1.0
70813            0         1.0
102804           0         1.0
104312           1         1.0
34438            0         1.0
80202            0         1.0
73702            0         1.0
25494            0         1.0
83928            0         1.0
6052             0         1.0

ismn_delta = 1.0

,duplicates,ismn_delta,ismn_x,ismn_y
90877,0,0.0,,m700241001
92146,0,0.0,"m006546756 (kritischer bericht, leinen)",
518,0,0.0,"m006546756 (kritischer bericht, leinen)",
72646,0,0.0,m006546756,
45731,0,0.0,,m700241001
38647,0,0.0,m006450510,
81715,0,0.0,,m006450510
92982,0,0.0,"m006546756 (kritischer bericht, leinen)",
62905,0,0.0,m006204687,
70449,0,0.0,m006450510,

ismn_delta = 0.0

As can be seen in the previous chapters, attribute $\texttt{ismn}$ is filled sparsely. A lot of missing values calculate to a value of 1.0 in the chosen similarity metrics. To mark these cases specifically, they will be transformed to a negative value.

In [43]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### musicid

Chapter [Data Analysis](./1_DataAnalysis.ipynb) shows that attribute $\texttt{musicid}$ is an identifyer for a music record. A Jaccard metric has been tested on this attribute, resulting in a distribution of many high similarity values on uniques. Comparing this result with the LCS metric, the latter has been decided.

In [44]:
attribute = 'musicid'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.LCSStr()
#tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [45]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

musicid values range [0.         0.125      0.14285714 0.16666667 0.2        0.25
 0.28571429 0.33333333 0.375      0.4        0.42857143 0.5
 0.66666667 0.75       1.        ]

In [46]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//2

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)

        duplicates  musicid_delta musicid_x musicid_y
104152           1            1.0      7794      7794
103197           1            1.0       073       073
103471           1            1.0    502023    502023
104205           1            1.0      0630      0630
93197            0            1.0      4553      4553
103997           1            1.0    502430    502430
104211           1            1.0      0630      0630
103919           1            1.0      4553      4553
103698           1            1.0      4553      4553
60469            0            1.0     10425     10425

0.75 <= musicid_delta <= 1.0

       duplicates  musicid_delta musicid_x musicid_y
12033           0            0.0       073
88376           0            0.0
70860           0            0.0
85269           0            0.0
49462           0            0.0                 140
34405           0            0.0
83132           0            0.0
23479           0            0.0
38040           0            0.0
84695           0            0.0                 620

0.0 <= musicid_delta <= 0.1428571428571429

       duplicates  musicid_delta musicid_x musicid_y
74536           0            0.4       422     10425
78082           0            0.4     10425       242
77212           0            0.4     10425       542
72822           0            0.4     10425       542
82946           0            0.4     10003      4031
75269           0            0.4     10425       426
14085           0            0.4       422     10425
23610           0            0.4     10425      8421
42230           0            0.4     10003     10425
53334           0            0.4     10425       422

0.375 <= musicid_delta <= 0.4

In [47]:
dpf.show_samples_interval(
    df_feature_base[df_feature_base.duplicates==1], attribute,
    uniques[attribute][0],
    uniques[attribute][uniques_len[attribute]-1], 20)

        duplicates  musicid_delta musicid_x musicid_y
103519           1       0.000000
104546           1       0.000000
104377           1       0.000000
103742           1       0.000000
104467           1       0.000000
103614           1       0.428571    433210   0171433
103392           1       0.000000
103718           1       0.000000                4553
104406           1       0.000000
104257           1       0.000000
104519           1       0.000000
103605           1       0.000000
103682           1       0.000000
104550           1       0.000000
104525           1       0.000000
103299           1       0.000000
104551           1       0.000000
103887           1       0.000000
103207           1       0.000000
103745           1       0.000000

0.0 <= musicid_delta <= 1.0

The attribute is filled with a degree of below $10\%$. The chosen metric for it results in a similarity value of 1.0 for empty value pairs. This effect can be adjusted with function $\texttt{.mark}\_\texttt{missing}()$ as above.

In [48]:
df_feature_base = dpf.mark_missing(df_feature_base, 'musicid', factor)

### part

Analogous to attribute $\texttt{edition}$ described above, the string value of this attribute can be stripped to pure number digits. Both ways, with and without letter stripping have been tried for modelling. The final decision for the best processing will be documented in chapter [Overview and Summary](./0_OverviewSummary.ipynb). Three different metrics have been tried for attribute $\texttt{part}$. Finally, metric StringCompare95 will be used.

In [49]:
attribute = 'part'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.Hamming()
#tedi.LCSStr()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [50]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

part values range [0.         0.29202279 0.30740741 0.31481481 0.32407407 0.32898551
 0.33333333 0.33597884 0.33838384 0.33921569 0.34444444 0.3452381
 0.35128205 0.35185185 0.35897436 0.36111111 0.36231884 0.36666667
 0.37037037 0.37254902 0.37301587 0.37407407 0.375      0.37777778
 0.38333333 0.38461538 0.38568376 0.38888889 0.38927739 0.39215686
 0.39393939 0.3952381  0.3960114  0.39646465 0.39722222 0.4
 0.4037037  0.40604575 0.40740741 0.40842491 0.40855763 0.41025641
 0.41111111 0.41203704 0.41282051 0.41388889 0.41449275 0.41452991
 0.41507937 0.41666667 0.4178744  0.41798942 0.41851852 0.42083333
 0.42222222 0.42390289 0.4241453  0.42564103 0.42592593 0.42777778
 0.42810458 0.42857143 0.42948718 0.43030303 0.43055556 0.43115942
 0.43174603 0.43333333 0.43518519 0.43557423 0.43589744 0.43627451
 0.43650794 0.43703704 0.4375     0.43813131 0.43888889 0.44017094
 0.44166667 0.44200244 0.44230769 0.44358974 0.44444444 0.4469697
 0.44761905 0.44814815 0.4484127  0.4494302  0.44949495 0.45
 0.45098039 0.45138889 0.4537037  0.45555556 0.45598846 0.45726496
 0.45833333 0.45868946 0.4589372  0.45970696 0.46068376 0.46111111
 0.46296296 0.46367521 0.46405229 0.46428571 0.46507937 0.46527778
 0.46570048 0.46581197 0.46666667 0.46709402 0.46794872 0.46851852
 0.47008547 0.47222222 0.47222222 0.4724359  0.47407407 0.47463768
 0.47474747 0.47584541 0.47619048 0.47777778 0.47777778 0.4807971
 0.48104575 0.48148148 0.4832244  0.48333333 0.48366013 0.48412698
 0.48611111 0.48888889 0.48917749 0.49007937 0.49047619 0.49074074
 0.49130435 0.49166667 0.49175824 0.49206349 0.49230769 0.49358974
 0.49487179 0.49509804 0.49565217 0.4957265  0.4984472  0.4991453
 0.5        0.50071225 0.50181159 0.5021978  0.5026455  0.50326797
 0.50362319 0.5037037  0.5040404  0.50404668 0.50505051 0.50529101
 0.50555556 0.50588235 0.50637255 0.50653595 0.50793651 0.50833333
 0.50917874 0.50925926 0.51055901 0.51068376 0.51111111 0.51190476
 0.5125     0.51282051 0.51313131 0.51339031 0.51355311 0.51388889
 0.51449275 0.51570048 0.51595442 0.51602564 0.51666667 0.51794872
 0.51851852 0.51890756 0.51923077 0.51944444 0.51960784 0.51966874
 0.52083333 0.52136752 0.52142857 0.52168746 0.52222222 0.52222222
 0.52307692 0.52380952 0.52407407 0.52431562 0.525      0.5252588
 0.52564103 0.52619048 0.52727273 0.52777778 0.52898551 0.52929293
 0.53019324 0.53030303 0.5309057  0.53104575 0.53133903 0.53140097
 0.53148148 0.53174603 0.53333333 0.53425926 0.53501401 0.53518519
 0.53525641 0.53535354 0.53653846 0.53703704 0.53787879 0.53869048
 0.53888889 0.53910256 0.53921569 0.53968254 0.54074074 0.54166667
 0.54188034 0.54273504 0.54285714 0.54304029 0.54444444 0.5462963
 0.54679487 0.54700855 0.54722222 0.54746377 0.54761905 0.54848485
 0.5491453  0.54945055 0.54989107 0.55       0.5505698  0.55065359
 0.55118473 0.55128205 0.5515873  0.55311355 0.55555556 0.55555556
 0.55601852 0.55662393 0.55710956 0.55797101 0.55833333 0.55917874
 0.55952381 0.55972222 0.56060606 0.56106443 0.56117216 0.56153846
 0.56160969 0.56168831 0.56190476 0.56216931 0.56313131 0.56388889
 0.56440781 0.5647343  0.56481481 0.56495726 0.56507937 0.56595442
 0.56630037 0.56640212 0.56666667 0.56714976 0.56794872 0.56800446
 0.56837607 0.56944444 0.57032428 0.57037037 0.57107023 0.57222222
 0.57287785 0.57303922 0.57313797 0.57380952 0.57407407 0.57463768
 0.57478632 0.57581699 0.57606838 0.57619048 0.57681159 0.57692308
 0.57698413 0.57722567 0.57777778 0.57936508 0.57984608 0.58005698
 0.58119658 0.58208458 0.58333333 0.58342624 0.58359213 0.58404558
 0.58454106 0.58459596 0.58461538 0.58547009 0.58695652 0.58715359
 0.58730159 0.58787879 0.58809524 0.58834724 0.58846154 0.58862434
 0.58888889 0.58986928 0.59074074 0.59074074 0.59090909 0.59094203
 0.59215686 0.592425   0.59259259 0.59343434 0.59351852 0.59401709
 0.59477124 0.59483109 0.59489303 0.59509804 0.5952381  0.59583333
 0.5970696  0.59722222 0.5973545  0.5982906  0.59880377 0.59880952
 0.59890572 0.59903382 0.6        0.60119048 0.60133779 0.60245637
 0.6025641  0.602657   0.60299145 0.60320513 0.6032967  0.603367
 0.6040404  0.60555556 0.6057971  0.60598291 0.60622711 0.60683761
 0.60714286 0.60793651 0.60833333 0.60868347 0.61020067 0.61025641
 0.61111111 0.61165577 0.61344211 0.61388889 0.61402116 0.61437908
 0.6147343  0.61481481 0.61507937 0.61616162 0.61666667 0.61851852
 0.61904762 0.61923077 0.61950549 0.62037037 0.62049689 0.62057166
 0.62121212 0.62222222 0.62270531 0.62307692 0.62328042 0.62328975
 0.62424242 0.625      0.62606838 0.62637363 0.62651515 0.62681159
 0.62698413 0.62777778 0.62946128 0.62946204 0.62962963 0.63121118
 0.63162393 0.63186275 0.63247863 0.6326087  0.63290598 0.63296703
 0.63333333 0.63427474 0.6346094  0.63461538 0.63467113 0.63571429
 0.63689459 0.63703704 0.63787879 0.63888889 0.64057239 0.64102564
 0.64130435 0.64166667 0.64215686 0.64245014 0.64285714 0.64365079
 0.64444444 0.64444444 0.64466089 0.64468864 0.64613527 0.64642857
 0.64672365 0.64793028 0.64795784 0.64814815 0.64843596 0.64869281
 0.65       0.65079365 0.65196078 0.652657   0.65277778 0.65343915
 0.65359278 0.65384615 0.6540404  0.65555556 0.65641026 0.65669516
 0.65714286 0.65797101 0.65811966 0.65833333 0.65959596 0.65991577
 0.66018519 0.66025641 0.66153846 0.66163004 0.66176471 0.66181422
 0.66269841 0.66296296 0.66410256 0.66481481 0.66587302 0.66666667
 0.66800446 0.66987179 0.67003367 0.67142857 0.67222222 0.67246377
 0.67264957 0.67352941 0.67424242 0.67427536 0.67457265 0.67619048
 0.67644352 0.67735043 0.67948718 0.67973856 0.68055556 0.68055556
 0.68115942 0.68162393 0.68333333 0.68376068 0.68389581 0.68518519
 0.68555679 0.68611111 0.68627451 0.6875     0.68849206 0.68888889
 0.68974359 0.69047619 0.69179894 0.69230769 0.69262821 0.69426407
 0.69444444 0.69444444 0.69565217 0.6969697  0.6984127  0.69852941
 0.6985348  0.69927536 0.6996337  0.7        0.7025641  0.7032967
 0.7037037  0.70588235 0.70701058 0.70714286 0.70726496 0.70740009
 0.70780886 0.70833333 0.70924908 0.70940171 0.70985877 0.71111111
 0.71111111 0.71309524 0.71349206 0.71428571 0.71595442 0.71666667
 0.71733822 0.7173913  0.71794872 0.71851852 0.71901709 0.71915535
 0.72121212 0.72179487 0.72222222 0.72222222 0.72420635 0.7254902
 0.72619048 0.72727273 0.72817923 0.72820513 0.72916667 0.73015873
 0.73116883 0.73131313 0.73333333 0.73861694 0.73888889 0.74002849
 0.74074074 0.74166667 0.74358974 0.74615385 0.74679487 0.74814815
 0.75       0.75091575 0.75151515 0.75250836 0.75277778 0.75555556
 0.75714286 0.75793651 0.75833333 0.75848226 0.76068376 0.76111111
 0.76161616 0.76190476 0.76309524 0.76346154 0.76349206 0.76666667
 0.76923077 0.77380952 0.77777778 0.7797619  0.78055556 0.78333333
 0.78431373 0.78518519 0.79047619 0.79166667 0.79487179 0.7962963
 0.8        0.8047138  0.80512821 0.80555556 0.80833333 0.80952381
 0.81282051 0.81481481 0.81818182 0.82051282 0.83244207 0.83333333
 0.85185185 0.86111111 0.86324786 0.86666667 0.86713287 0.87307692
 0.87382779 0.88888889 0.88888889 0.88985507 0.89277389 0.8974359
 0.91666667 0.92094017 1.        ]

In [51]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

position = uniques_len[attribute]//7

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-2],
    uniques[attribute][uniques_len[attribute]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+2], 10)

        duplicates  part_delta part_x part_y
88036            0         1.0
85618            0         1.0
97819            0         1.0
93805            0         1.0
43288            0         1.0
99082            0         1.0
89497            0         1.0
103814           1         1.0
39840            0         1.0
74465            0         1.0

0.9209401709401709 <= part_delta <= 1.0

       duplicates  part_delta  part_x    part_y
28023           0         0.0       6
76152           0         0.0                 3
50485           0         0.0       2       1 2
34679           0         0.0              1 15
16823           0         0.0          282 2003
32535           0         0.0  2620 5
62206           0         0.0                12
10425           0         0.0          270 1991
92381           0         0.0                 1
32673           0         0.0     7 7        19

0.0 <= part_delta <= 0.30740740740740735

       duplicates  part_delta        part_x      part_y
4289            0    0.713095       23 1862    281 2002
1701            0    0.713492  285 285 1963  23 23 1899
15711           0    0.713095       23 1862    286 2007
90832           0    0.713095       23 1862    286 2007
63720           0    0.713095       23 1862    283 2004
2178            0    0.713095       23 1862    293 2014

0.7130952380952381 <= part_delta <= 0.7134920634920635

        duplicates  part_delta   part_x   part_y
38182            0    0.714286  23 1862        3
100022           0    0.714286        4  534 534
92290            0    0.714286        2  552 552
88735            0    0.714286  912 912        1
69692            0    0.714286        4  534 534
71149            0    0.714286  23 1862        3
60741            0    0.714286        5  534 534
30334            0    0.714286  912 912        2
72010            0    0.714286        2  241 319
9031             0    0.714286  23 1862        3

0.7142857142857143 <= part_delta <= 0.7166666666666667

In this attribute, too, moving pairs of empty values to negative values will result in a clearer distinction between pairs of uniques and duplicates, as will be seen in the graphical comparison of capter [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb).

In [52]:
df_feature_base = dpf.mark_missing(df_feature_base, 'part', factor)

### person

As a result of chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{person}$ has been split into three specific attributes. Attribute $\texttt{person}\_{100}$ and $\texttt{person}\_{700}$ hold strongly standardised string values. For comparing pure strings, a Levenshtein metric is recommended [[Chri2012](./A_References.ipynb#chri2012)]. Unfortunately, this metric shows a very long calculation time on the data of the capstone project. Comparing the similarity values of the Levenshtein metric with the similarity values of other metrics in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), similarity metric StrCmp95 has been decided to use.

In [53]:
attribute = 'person'

columns_metadata_dict['similarity_metrics'][attribute+'_100'] = tedi.StrCmp95()
columns_metadata_dict['similarity_metrics'][attribute+'_700'] = tedi.StrCmp95()
#tedi.Levenshtein()

pe_values = ['_100', '_700']

for pe in pe_values :
    print('Calculating person'+pe)
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+pe,
        columns_metadata_dict['similarity_metrics'][attribute+pe],
        columns_metadata_dict)

Calculating person_100

Calculating person_700

In [54]:
pe = '_100'

uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_100 values range [0.         0.31944444 0.32777778 0.33095238 0.34768519 0.3562963
 0.35714286 0.36414141 0.36527778 0.36723647 0.37777778 0.38603989
 0.38779956 0.38989899 0.39246032 0.39490741 0.40666667 0.41281046
 0.4130719  0.41596491 0.42324786 0.42388889 0.4240404  0.42486772
 0.42614379 0.42676768 0.42819444 0.42869281 0.42982456 0.42991453
 0.43326118 0.43415893 0.43508772 0.43660714 0.43794872 0.43804714
 0.439819   0.44040404 0.44079254 0.44126984 0.44222222 0.44282407
 0.44292929 0.44444444 0.44457516 0.44507937 0.44571078 0.44649123
 0.44656085 0.4465812  0.44662698 0.44722222 0.44782135 0.44786325
 0.44791667 0.4481352  0.44972222 0.45126263 0.45131313 0.45222222
 0.45291375 0.45314327 0.45416667 0.45424242 0.45555556 0.45564103
 0.45578704 0.45784314 0.45873016 0.45952381 0.46013072 0.46055556
 0.46119281 0.46127946 0.46336996 0.46428571 0.46452763 0.46452991
 0.46455026 0.46572872 0.46597222 0.46666667 0.46696833 0.46703704
 0.46813725 0.46978558 0.47007576 0.47171946 0.47222222 0.47243867
 0.47248677 0.47284879 0.47314815 0.47333333 0.47378917 0.47419872
 0.47435897 0.47442002 0.47474747 0.47481481 0.475      0.47613636
 0.47635756 0.47712418 0.47777778 0.47883598 0.47888386 0.47936508
 0.48       0.48015873 0.48017429 0.48054299 0.48123249 0.48141026
 0.48148148 0.48239316 0.48244631 0.48311966 0.48358586 0.48412698
 0.48421053 0.48472222 0.48484848 0.48529412 0.48538012 0.48547009
 0.48611111 0.48618769 0.48717949 0.48760684 0.48814815 0.48851541
 0.48888889 0.48916667 0.48958333 0.49017094 0.49037037 0.49074074
 0.49153439 0.49166667 0.49175824 0.49267677 0.49287749 0.49305556
 0.494287   0.49450549 0.495      0.49550265 0.49553571 0.4957265
 0.49607843 0.4963474  0.49688995 0.49692308 0.49700722 0.49801587
 0.49830065 0.49833333 0.49886878 0.49888889 0.50010582 0.50028011
 0.50106838 0.50126634 0.5015873  0.50185185 0.50208333 0.50290404
 0.50297619 0.5037037  0.50410053 0.50436508 0.50518519 0.50555556
 0.50626566 0.50648148 0.50724247 0.50782828 0.50787546 0.50818713
 0.50866911 0.50912698 0.50972222 0.51       0.51084967 0.51111111
 0.51175214 0.51216931 0.51232804 0.51235294 0.51269417 0.51273726
 0.5128655  0.51301248 0.51328671 0.51435185 0.51452991 0.5145614
 0.51472222 0.51509972 0.51517094 0.51541667 0.51555556 0.51619048
 0.51626984 0.51648352 0.51666667 0.51717172 0.51721133 0.51825397
 0.51843712 0.51851852 0.51962963 0.52006033 0.52075163 0.52083333
 0.52086476 0.52093371 0.52156863 0.52222222 0.52222222 0.52312198
 0.52380952 0.52388889 0.52412587 0.52436975 0.52462121 0.52581454
 0.52592593 0.52601307 0.5260181  0.52611833 0.52692308 0.52804233
 0.52816628 0.52823529 0.52852564 0.52861953 0.52903828 0.52941176
 0.53       0.53006993 0.5305772  0.53080808 0.53119658 0.53138528
 0.53163678 0.53186275 0.53202614 0.53333333 0.53380674 0.53390313
 0.53406433 0.53419913 0.53420479 0.53443942 0.53459596 0.53472222
 0.53484848 0.53494152 0.535      0.53522727 0.53587302 0.53606238
 0.53639122 0.53666667 0.53721279 0.53740741 0.53809524 0.53861111
 0.53897436 0.53904762 0.53931624 0.53933659 0.53968254 0.53969298
 0.53973064 0.53974359 0.53976035 0.53981481 0.54       0.54006734
 0.54017094 0.54114774 0.54166667 0.54315476 0.54333333 0.54368132
 0.54380342 0.54398148 0.54438131 0.54444444 0.54455338 0.54484848
 0.54490741 0.54529915 0.54624183 0.5462963  0.5468735  0.54714286
 0.54722222 0.54785247 0.54794225 0.54871795 0.54882155 0.54918301
 0.54978632 0.55       0.55026455 0.55059524 0.5514652  0.55206349
 0.55238095 0.55247863 0.55258445 0.55270655 0.55343915 0.55357143
 0.5537037  0.55412698 0.5547138  0.55482557 0.55500975 0.55555556
 0.55555556 0.55568627 0.55575163 0.55612745 0.55621693 0.55666667
 0.55673077 0.5568219  0.55698413 0.55876068 0.55897436 0.55899471
 0.55902778 0.55930736 0.55961538 0.56055556 0.56068376 0.56078431
 0.56151996 0.56157407 0.56166667 0.56242424 0.56296296 0.56302609
 0.56313725 0.56343101 0.56464646 0.56535409 0.56581197 0.56605617
 0.56606061 0.56630037 0.56634615 0.56640212 0.56683761 0.56759259
 0.56805556 0.56809524 0.56851852 0.56894319 0.56923077 0.56962482
 0.56979458 0.56980057 0.56986532 0.57083333 0.57083333 0.57142857
 0.57166667 0.57333333 0.57466977 0.57478632 0.57486772 0.575
 0.5752381  0.57599681 0.57692308 0.57777778 0.57888889 0.57901961
 0.57931624 0.57962963 0.57964744 0.57980769 0.57995338 0.58021978
 0.58065015 0.58102564 0.58181818 0.58183761 0.58198664 0.58232323
 0.58275189 0.58371212 0.58461538 0.58472222 0.58611111 0.58692308
 0.58695564 0.58810541 0.58888889 0.58999497 0.59       0.59011544
 0.59027778 0.59038282 0.59064327 0.59081197 0.59126984 0.59145299
 0.59191919 0.5922113  0.59252451 0.59267881 0.59356725 0.59376068
 0.59411765 0.59444444 0.5955613  0.5956044  0.5957265  0.5959707
 0.59603175 0.5964591  0.59675325 0.5968254  0.59692308 0.59722222
 0.59786325 0.59822596 0.59835045 0.59836601 0.59845085 0.59861111
 0.59871795 0.59880952 0.5996732  0.6        0.60010582 0.6002035
 0.60047619 0.6017316  0.602886   0.60333333 0.60340803 0.60555556
 0.60559829 0.60718954 0.60816993 0.60823621 0.60833333 0.60873016
 0.60888889 0.60913596 0.61179616 0.61220044 0.61221034 0.61239316
 0.61245421 0.61345136 0.61351981 0.61356725 0.61401515 0.61408669
 0.61461538 0.61538462 0.61548046 0.61623932 0.61650794 0.61661376
 0.61666667 0.61741788 0.61877289 0.61898657 0.62075702 0.62092352
 0.62195513 0.62239316 0.62313131 0.62339744 0.62408398 0.62424242
 0.62566138 0.62593985 0.62612943 0.62671958 0.62712418 0.62780749
 0.6280525  0.62960569 0.63162393 0.63328523 0.63333333 0.63373016
 0.63527778 0.63592593 0.63728716 0.63756614 0.63769841 0.64444444
 0.64515152 0.64626068 0.64700855 0.64740741 0.6511544  0.65286172
 0.65416667 0.66153846 0.66838624 0.6786859  0.67950938 0.68015873
 0.68106377 0.68128205 0.6837963  0.68433048 0.68468661 0.68790469
 0.68994709 0.69047619 0.69513889 0.69897436 0.71464646 0.73714286
 0.74711538 0.77466667 0.8208547  0.86666667 1.        ]

In [55]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

,duplicates,person_100_delta,person_100_x,person_100_y
72966,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
62341,0,1.0,,
62408,0,1.0,,
5359,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
98632,0,1.0,,
29053,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
28041,0,1.0,,
74552,0,1.0,,
72620,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus
9103,0,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus

0.8666666666666666 <= person_100_delta <= 1.0

,duplicates,person_100_delta,person_100_x,person_100_y
9157,0,0.0,voltaire,
58397,0,0.0,,mozartwolfgang amadeus
48752,0,0.0,mozartwolfgang amadeus,
2337,0,0.0,mozartwolfgang amadeus,
52773,0,0.0,,mozartwolfgang amadeus
63053,0,0.0,mozartwolfgang amadeus,
62772,0,0.0,,mozartwolfgang amadeus
52430,0,0.0,schusterhans-peter,
89575,0,0.0,,mortzfeldpeter
21393,0,0.0,mozartwolfgang amadeus,

0.0 <= person_100_delta <= 0.3277777777777777

For comparing person names, like in attribute $\texttt{person}\_{245c}$, a Jaro metric will be tested [[Chri2012](./A_References.ipynb#chri2012)].

In [56]:
pe = '_245c'

columns_metadata_dict['similarity_metrics'][attribute+pe] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute+pe,
    columns_metadata_dict['similarity_metrics'][attribute+pe],
    columns_metadata_dict)

In [57]:
uniques[attribute+pe], uniques_len[attribute+pe] = dpf.determine_similarity_values(
    df_feature_base, attribute+pe)

person_245c values range [0.         0.25901876 0.26388889 ... 0.98782267 0.99453552 1.        ]

In [58]:
position = uniques_len[attribute+pe]

dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position-2],
    uniques[attribute+pe][uniques_len[attribute+pe]-position-1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+pe,
    uniques[attribute+pe][uniques_len[attribute+pe]-position],
    uniques[attribute+pe][uniques_len[attribute+pe]-position+2], 10)

,duplicates,person_245c_delta,person_245c_x,person_245c_y
89084,0,1.0,,
104189,1,1.0,"hans-peter schuster, hans-joachim trappe","hans-peter schuster, hans-joachim trappe"
104338,1,1.0,wolfgang amadeus mozart,wolfgang amadeus mozart
20143,0,1.0,,
44518,0,1.0,,
85633,0,1.0,,
15986,0,1.0,,
74858,0,1.0,,
104597,1,1.0,,
67199,0,1.0,,

0.9945355191256832 <= person_245c_delta <= 1.0

,duplicates,person_245c_delta,person_245c_x,person_245c_y
86337,0,0.0,"c.y. cyrus chu, ronald lee (eds.)",
32989,0,0.0,,wolfgang amadeus mozart ; orig. arr. von johan...
95883,0,0.0,,sigrid kessler... [et al.] ; [éd.:] interkanto...
65146,0,0.0,,von emanuel schikaneder ; musik von w. a. moza...
37648,0,0.0,,sigrid kessler... [et al.] ; [éd.:] interkanto...
75830,0,0.0,,"mortzfeld, peter; raabe, pa"
41027,0,0.0,,"mortzfeld, peter; raabe, paul"
22706,0,0.0,,andreas flury
90555,0,0.0,,"mortzfeld, peter; raabe, paul"
41858,0,0.0,heidy binder ... [et al.],

0.0 <= person_245c_delta <= 0.26388888888888884

The similarities of all three $\texttt{person}$ attributes are affected by empty values. These will be handled the same way as the attributes above.

In [59]:
pe_values = ['_100', '_245c', '_700']

for pe in pe_values :
    df_feature_base = dpf.mark_missing(df_feature_base, 'person'+pe, factor)

### pubinit

This attribute holds publisher strings that have a similar representation as attribute $\texttt{person}$. A Jaro metric will be used.

In [60]:
attribute = 'pubinit'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaro()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [61]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

pubinit values range [0.         0.25132275 0.25303644 ... 0.97849462 0.98404165 1.        ]

In [62]:
position = uniques_len[attribute]//3

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position-1],
    uniques[attribute][uniques_len[attribute]-position], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-5],
    uniques[attribute][uniques_len[attribute]-1], 10)

       duplicates  pubinit_delta pubinit_x                  pubinit_y
36882           0       0.552222  k. alber  [eidg. landestopographie]
28292           0       0.552222  k. alber  [eidg. landestopographie]
11939           0       0.552222  k. alber  [eidg. landestopographie]
76754           0       0.552222  k. alber  [eidg. landestopographie]
7957            0       0.552222  k. alber  [eidg. landestopographie]
33040           0       0.552222  k. alber  [eidg. landestopographie]
26025           0       0.552222  k. alber  [eidg. landestopographie]
50500           0       0.552222  k. alber  [eidg. landestopographie]
7557            0       0.552222  k. alber  [eidg. landestopographie]
27015           0       0.552222  k. alber  [eidg. landestopographie]

0.5522222222222223 <= pubinit_delta <= 0.552238531435088

,duplicates,pubinit_delta,pubinit_x,pubinit_y
6939,0,1.0,staatlicher lehrmittelverlag,staatlicher lehrmittelverlag
88149,0,1.0,,
22303,0,1.0,,
72008,0,1.0,berner lehrmittel- und medienverl.,berner lehrmittel- und medienverl.
50971,0,1.0,,
54813,0,1.0,,
95916,0,1.0,,
92216,0,1.0,,
91647,0,1.0,,
36216,0,1.0,staatlicher lehrmittelverlag,staatlicher lehrmittelverlag

0.9711484593837535 <= pubinit_delta <= 1.0

The similarities of $\texttt{pubinit}$ are affected by empty values. These will be transformed to negative values.

In [63]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### scale

Comparing the similarity metrics of some sample value pairs of attribute $\texttt{scale}$ in appendix [Comparison of Similarity Metrics](./B_CompareSimilarities.ipynb), a Jaccard metrics has been identified to express the best matching behaviour for purely numerical values stored in the attribute.

In [64]:
attribute = 'scale'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.Jaccard()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [65]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

scale values range [0.         0.17857143 0.21428571 0.57142857 1.        ]

In [66]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

       duplicates  scale_delta                       scale_x scale_y
88611           0          0.0                                100000
287             0          0.0  50 000 8 10 8 35 45 55 46 05
90696           0          0.0                                100000
58935           0          0.0                                100000
71734           0          0.0                                100000
45175           0          0.0                                 50000
24162           0          0.0                                100000
33217           0          0.0                                 50000
48683           0          0.0                                100000
12347           0          0.0                                100000

0.0 <= scale_delta <= 0.1785714285714286

        duplicates  scale_delta                       scale_x scale_y
56998            0     0.571429                         50000  100000
83391            0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
47507            0     0.571429                         50000  100000
101045           0     0.571429                         50000  100000
70248            0     0.571429                        100000   50000
57993            0     0.214286  50 000 8 10 8 35 45 55 46 05  100000
53556            0     0.571429                         50000  100000
49904            0     0.571429                        100000   50000
32447            0     0.571429                        100000   50000
10023            0     0.571429                         50000  100000

0.2142857142857143 <= scale_delta <= 0.5714285714285714

,duplicates,scale_delta,scale_x,scale_y
72272,0,0.178571,50 000 8 10 8 35 45 55 46 05,50000
26918,0,0.214286,50 000 8 10 8 35 45 55 46 05,100000
104057,1,0.178571,50 000 8 10 8 35 45 55 46 05,50000
104048,1,0.178571,50000,50 000 8 10 8 35 45 55 46 05
54855,0,0.178571,50 000 8 10 8 35 45 55 46 05,50000
40725,0,0.214286,50 000 8 10 8 35 45 55 46 05,100000
57993,0,0.214286,50 000 8 10 8 35 45 55 46 05,100000
91645,0,0.214286,50 000 8 10 8 35 45 55 46 05,100000
83391,0,0.214286,50 000 8 10 8 35 45 55 46 05,100000
104055,1,0.178571,50 000 8 10 8 35 45 55 46 05,50000

0.1785714285714286 <= scale_delta <= 0.2142857142857143

Attribute $\texttt{scale}$ is filled for maps, only. Due to its sparse filling, the similarities of the attribute are affected strongly by empty values. These empty values will be marked with a special negative value.

In [67]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

### ttlfull

Due to the discussion in chapter [Data Analysis](./1_DataAnalysis.ipynb), attribute $\texttt{ttlfull}$ has been split up into two new attributes $\texttt{ttlfull}\_\texttt{245}$ and $\texttt{ttlfull}\_\texttt{246}$ which will be compared by the same similarity metrics. A visual analysis of the values stored in the attribute, reveals a string of words, comparable to the strings in attribute $\texttt{person}\_\texttt{245c}$, above. The same similarity metric will be used for both title attributes, therefore.

In [68]:
attribute = 'ttlfull'

columns_metadata_dict['similarity_metrics'][attribute+'_245'] = tedi.Jaro()
columns_metadata_dict['similarity_metrics'][attribute+'_246'] = tedi.Jaro()

tf_values = ['_245', '_246']

for tf in tf_values :
    df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
        df_feature_base, attribute+tf,
        columns_metadata_dict['similarity_metrics'][attribute+tf],
        columns_metadata_dict)

In [69]:
for tf in tf_values :
    uniques[attribute+tf], uniques_len[attribute+tf] = dpf.determine_similarity_values(
        df_feature_base, attribute+tf)

ttlfull_245 values range [0.         0.24579125 0.25714286 ... 0.99537037 0.99747475 1.        ]
ttlfull_246 values range [0.         0.35555556 0.36111111 0.36366612 0.36666667 0.40238095
 0.40555556 0.41190476 0.41296296 0.41313131 0.4168847  0.41923077
 0.41931217 0.42424242 0.42484886 0.43333333 0.43758865 0.43913043
 0.43998145 0.44242424 0.44507736 0.44539295 0.44722222 0.4479837
 0.44848485 0.44901497 0.45       0.45011338 0.45610717 0.45764895
 0.45833333 0.46094276 0.46205962 0.46527102 0.46729958 0.46885522
 0.46945938 0.47130647 0.47142857 0.47222222 0.472318   0.47267613
 0.47285513 0.47308219 0.47356964 0.47372609 0.47417027 0.47428613
 0.47431581 0.47446677 0.47462215 0.47491364 0.47508251 0.47515152
 0.47518634 0.47597067 0.47606838 0.47613256 0.47629884 0.47642654
 0.47829216 0.47883598 0.47923655 0.48002481 0.48055556 0.48072175
 0.48090015 0.48117181 0.48140097 0.48175055 0.48195938 0.48263045
 0.48306533 0.48413623 0.48439153 0.4856778  0.48578781 0.48604908
 0.48641336 0.48644351 0.48797146 0.48815193 0.48888889 0.48950307
 0.49003527 0.49012346 0.49106892 0.49126525 0.49146302 0.491834
 0.49239115 0.49317932 0.49359699 0.49361394 0.49375951 0.49464474
 0.49507736 0.49602956 0.49624509 0.4963925  0.49642878 0.4968254
 0.4979798  0.49805212 0.49811363 0.49818041 0.49891516 0.49901007
 0.49903846 0.49938084 0.49996351 0.50026056 0.5010582  0.50109256
 0.50208659 0.50223064 0.5022792  0.50252623 0.50297916 0.50325747
 0.503367   0.50353381 0.50364672 0.5037037  0.50385488 0.5041847
 0.50454545 0.50512821 0.50525207 0.50552417 0.50573313 0.50732861
 0.50775194 0.50959596 0.51031746 0.51148851 0.51157616 0.51189994
 0.51231231 0.51254826 0.51329114 0.51331259 0.51349206 0.51362561
 0.51437294 0.51506559 0.51553219 0.51570234 0.51666667 0.51712033
 0.51773734 0.51775632 0.51810589 0.51814905 0.51851852 0.51860575
 0.51874458 0.51886328 0.51936779 0.51944444 0.52011151 0.52085776
 0.52091981 0.52092283 0.52177892 0.52181276 0.52193622 0.52264132
 0.52345679 0.52386045 0.52407407 0.52414188 0.5241782  0.52478632
 0.52509542 0.52519562 0.52539046 0.52552214 0.52564103 0.52592593
 0.52608418 0.52612622 0.52627281 0.52671021 0.52689036 0.52713189
 0.52751104 0.52765753 0.52791026 0.52818126 0.52822195 0.5282225
 0.52825345 0.52834467 0.52868422 0.52872353 0.52906309 0.52919645
 0.5295336  0.52959512 0.52962963 0.53004695 0.53010229 0.53048079
 0.53121693 0.53133862 0.53156566 0.53203203 0.5320353  0.5323434
 0.5335939  0.53406741 0.53439153 0.53465026 0.53493406 0.53541993
 0.53556397 0.53561254 0.53585956 0.53640738 0.53659081 0.53670034
 0.53698006 0.53703704 0.53714322 0.53717122 0.53717919 0.53741525
 0.53762999 0.53763066 0.53858541 0.53860859 0.53906646 0.54097797
 0.54155497 0.54190075 0.54273504 0.54295231 0.5430789  0.54315478
 0.54319422 0.54339746 0.54432036 0.54435931 0.54444444 0.54448928
 0.54526064 0.54593775 0.54623547 0.54652919 0.54686319 0.54802931
 0.54807914 0.54979424 0.55020568 0.55060449 0.55079254 0.55147146
 0.55231805 0.5530754  0.55308671 0.55309565 0.55380682 0.55442003
 0.55542755 0.55614618 0.55631835 0.55802469 0.55901378 0.55927048
 0.5608719  0.56227106 0.56281241 0.56284476 0.56419068 0.56444145
 0.56593635 0.56684559 0.56684563 0.56771737 0.56895991 0.56970432
 0.56981352 0.5708502  0.57264245 0.57704231 0.57777778 0.57960433
 0.57972064 0.58164869 0.58776655 0.58888889 0.59345238 0.59406518
 0.59508439 0.59553872 0.5957831  0.59611791 0.59700251 0.59815668
 0.59831081 0.59903297 0.6034151  0.60883838 0.60991141 0.62196621
 0.6244528  0.63073752 0.63121706 0.63644989 0.63654207 0.63769415
 0.63863864 0.64603175 0.6683087  0.66831276 0.66832093 0.66839378
 0.6687054  0.68468468 0.6875     0.68817204 0.69996186 0.7
 0.7062201  0.73421474 0.74010923 0.74092128 0.74489383 0.74491902
 0.74573466 0.74921835 0.75374054 0.75629337 0.76163873 0.76481419
 0.7693553  0.76939315 0.77159389 0.77304965 0.77552171 0.779827
 0.78294574 0.78344565 0.78352361 0.7862279  0.78798248 0.78958469
 0.79374858 0.79524232 0.79847261 0.80057412 0.80262561 0.80378215
 0.80618508 0.80766949 0.80907079 0.81056525 0.81202828 0.81286024
 0.81295208 0.8167405  0.8176154  0.81791627 0.81818182 0.81915822
 0.82138336 0.82443439 0.82493377 0.82548298 0.8262313  0.82868935
 0.83054292 0.83353824 0.83890217 0.84936231 0.8683525  0.86869208
 0.87324464 0.87467806 0.87468084 0.87846479 0.88337845 0.88536327
 0.88543213 0.88907267 0.8913713  0.89642895 0.89847724 0.89894992
 0.96666667 0.98550725 1.        ]

In [70]:
tf = '_245'
position = uniques_len[attribute+tf]

dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-position],
    uniques[attribute+tf][uniques_len[attribute+tf]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-3],
    uniques[attribute+tf][uniques_len[attribute+tf]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute+tf,
    uniques[attribute+tf][uniques_len[attribute+tf]-4],
    uniques[attribute+tf][uniques_len[attribute+tf]-3], 10)

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
79144,0,0.0,emma,how do i find the christ?
13256,0,0.0,arts,blick in die welt
58244,0,0.0,bildungsforschung und bildungspraxis,emma
18814,0,0.0,emma,blick in die welt
28578,0,0.0,arts,blick in die welt
92018,0,0.0,emma,blick in die welt
53895,0,0.0,emma,blick in die welt
11679,0,0.0,emma,blick in die welt
1376,0,0.0,emma,switzerland
20212,0,0.0,emma,trionfi

0.0 <= ttlfull_245_delta <= 0.24579124579124578

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
103248,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
104544,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103282,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
104533,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103266,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103264,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103238,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103215,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103223,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
30983,0,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."

0.9953703703703703 <= ttlfull_245_delta <= 0.9974747474747474

,duplicates,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y
103281,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103279,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103232,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103275,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103270,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103273,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103223,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
104531,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103241,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."
103259,1,0.99537,"der moralische status der tiere, henry salt, p...","der moralische status der tiere, henry salt, p..."

0.9940476190476191 <= ttlfull_245_delta <= 0.9953703703703703

Attribute $\texttt{ttlfull}\_\texttt{245}$ is filled for all data rows of Swissbib's raw data as can be seen in chapter [Data Analysis](./1_DataAnalysis.ipynb). For attribute $\texttt{ttlfull}\_\texttt{245}$, the filling is below $10\%$. The data pairs with missing values will be marked with a negative value as has been done for similar cases above.

In [71]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute+'_246', factor)

### volumes

This attribute is described in chapter [Data Analysis](./1_DataAnalysis.ipynb) to hold a kind of contents that resembles the contents of attribute $\texttt{part}$. The same similarity metrics will be used for attribute $\texttt{volumes}$ as for attribute $\texttt{part}$, therefore.

In [72]:
attribute = 'volumes'

columns_metadata_dict['similarity_metrics'][attribute] = tedi.StrCmp95()
#tedi.Jaro()
#tedi.LCSSeq()
#tedi.MongeElkan()

df_feature_base, columns_metadata_dict = dpf.build_delta_feature(
    df_feature_base, attribute,
    columns_metadata_dict['similarity_metrics'][attribute],
    columns_metadata_dict)

In [73]:
uniques[attribute], uniques_len[attribute] = dpf.determine_similarity_values(
    df_feature_base, attribute)

volumes values range [0.         0.32222222 0.35128205 0.37301587 0.37407407 0.38333333
 0.38461538 0.3952381  0.40740741 0.41111111 0.41666667 0.41737892
 0.42857143 0.43650794 0.43703704 0.44017094 0.44166667 0.44200244
 0.44761905 0.45555556 0.45833333 0.46296296 0.46428571 0.46581197
 0.46666667 0.47008547 0.47222222 0.47777778 0.48148148 0.48333333
 0.48412698 0.48611111 0.48888889 0.49007937 0.49206349 0.49365079
 0.4991453  0.5        0.50793651 0.51111111 0.51190476 0.52222222
 0.52380952 0.52564103 0.52777778 0.53333333 0.53703704 0.53968254
 0.54074074 0.54166667 0.54722222 0.54761905 0.5491453  0.55
 0.55128205 0.55555556 0.56031746 0.56111111 0.56190476 0.56507937
 0.56666667 0.57407407 0.57478632 0.57777778 0.58148148 0.58333333
 0.58862434 0.58888889 0.59444444 0.5952381  0.59722222 0.5982906
 0.6        0.60119048 0.60320513 0.60683761 0.60714286 0.61025641
 0.61111111 0.61507937 0.61666667 0.61904762 0.61923077 0.62222222
 0.62380952 0.625      0.62777778 0.62962963 0.63095238 0.63247863
 0.63296703 0.63333333 0.63888889 0.64285714 0.64444444 0.65079365
 0.65555556 0.65833333 0.66269841 0.66481481 0.66666667 0.66987179
 0.67195767 0.67619048 0.67777778 0.68055556 0.68333333 0.68589744
 0.68611111 0.68888889 0.69047619 0.69230769 0.69444444 0.6984127
 0.7        0.7037037  0.70714286 0.70833333 0.70940171 0.71309524
 0.71428571 0.71794872 0.71851852 0.72222222 0.72222222 0.72619048
 0.72685185 0.72820513 0.72962963 0.73333333 0.73888889 0.74074074
 0.74358974 0.74814815 0.75       0.76190476 0.76666667 0.77142857
 0.77380952 0.77777778 0.78333333 0.78518519 0.79047619 0.79166667
 0.8        0.80555556 0.80952381 0.81944444 0.82222222 0.83333333
 0.83809524 0.84920635 0.85       0.85714286 0.86666667 0.875
 0.87777778 0.88888889 0.9047619  0.91666667 0.93333333 1.        ]

In [74]:
position = uniques_len[attribute]

dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-position],
    uniques[attribute][uniques_len[attribute]-position+1], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-3],
    uniques[attribute][uniques_len[attribute]-2], 10)
dpf.show_samples_interval(
    df_feature_base, attribute,
    uniques[attribute][uniques_len[attribute]-4],
    uniques[attribute][uniques_len[attribute]-3], 10)

       duplicates  volumes_delta volumes_x volumes_y
43381           0            0.0         4       1 2
83908           0            0.0       600         1
45612           0            0.0       365      1 72
75659           0            0.0                   1
49496           0            0.0     1 167
65377           0            0.0       589        96
11310           0            0.0       135
18276           0            0.0       312       560
96018           0            0.0       388       2 1
96142           0            0.0         1       453

0.0 <= volumes_delta <= 0.3222222222222222

        duplicates  volumes_delta volumes_x volumes_y
101057           0       0.916667      1 82       1 2
72971            0       0.916667      1 82       1 2
10777            0       0.933333      1 33     1 383
79094            0       0.933333     1 169      1 16
66500            0       0.933333     1 163      1 16
91731            0       0.933333     1 166      1 16
11439            0       0.933333      1 36     1 376
66399            0       0.933333      1 32     1 132
74501            0       0.933333      1 45     1 425
81516            0       0.916667      1 82       1 2

0.9166666666666666 <= volumes_delta <= 0.9333333333333332

        duplicates  volumes_delta volumes_x volumes_y
52091            0       0.916667      1 32       1 2
40158            0       0.916667      1 82       1 2
56698            0       0.916667      1 82       1 2
103199           1       0.904762     1 169   1 0 169
67783            0       0.916667      1 82       1 2
103195           1       0.904762     1 169   1 0 169
59578            0       0.916667      1 82       1 2
90898            0       0.904762   1 0 169     1 169
53584            0       0.916667      1 82       1 2
103502           1       0.904762     1 169   1 0 169

0.9047619047619048 <= volumes_delta <= 0.9166666666666666

Attribute $\texttt{volumes}$ holds rows with missing data. The data pairs with missing values will be marked with a special negative value.

In [75]:
df_feature_base = dpf.mark_missing(df_feature_base, attribute, factor)

## DataFrame with Attributes and Similarity Features

The metric for each attribute of the feature DataFrame has been decided and the similarity features have been calculated. In this last step, the columns of the DataFrame are reordered in order to place the $\_\texttt{delta}$ columns close to their input origins $\_\texttt{x}$ and $\_\texttt{y}$ and some sample records are shown.

In [76]:
# Take _x, _y, and _delta columns together
fb_col_list = df_feature_base.columns.tolist()
fb_col_list.sort()
# Move target column to first place
fb_col_list.insert(0, fb_col_list.pop(fb_col_list.index('duplicates')))
# Reorder DataFrame columns
df_attribute_with_sim_feature = pd.DataFrame(df_feature_base, columns=fb_col_list)

# Extend display to number of columns of DataFrame
pd.options.display.max_columns = len(df_attribute_with_sim_feature.columns)

class_label = ['uniques', 'duplicate']

for i in class_label:
    display(df_attribute_with_sim_feature[df_attribute_with_sim_feature.duplicates==class_label.index(i)].sample(n=10))
    print(i)

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
99818,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.375,1763aaaa,1994uuuu,0.428571,020000,020053,1.0,bk,bk,0.0,[],"[978-3-598-31507-7 (print), 978-3-11-096993-1]",-0.10,,,-0.100000,,,-0.050000,,27 27,0.633333,voltaire,mortzfeldpeter,0.490805,[voltaire],"mortzfeld, peter; raabe, paul",-0.050000,,raabepaul,-0.050000,,de gruyter saur,-0.1,,,0.538849,traité sur la tolérance,katalog der graphischen porträts in der herzog...,-0.1,,,0.511111,183,1 425
164,0,-0.1,,,-0.1,,,-0.05,les arts florissants,,-0.1,,,-0.10,,,0.500,1996aaaa,1971uuuu,0.111111,040100,020000,0.0,mu,bk,1.0,[],[],-0.10,,,-0.050000,0630,,-0.100000,,,1.000000,mozartwolfgang amadeus,mozartwolfgang amadeus,0.723457,wolfgang amadeus mozart,wolfgang amadeus mozart ; dichtung von emanuel...,0.591878,"mannionrosa, dessaynatalie, kitchenlinda, panz...","schikanederemanuel, soltigeorg",-0.050000,,teldec,-0.1,,,0.761160,"die zauberflöte, kv 620 : opera in two acts = ...","die zauberflöte, eine grosse oper in zwei akte...",-0.1,,,0.000000,2,76
90311,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.250,20071990,19601969,0.428571,010300,010100,0.0,vm,mu,1.0,[],[],-0.10,,,0.166667,502023,4355,-0.100000,,,-0.050000,,mozartwolfgang amadeus,0.619514,ein film von volker schlöndorff ; nach dem rom...,by emanuel schikaneder ; music by wolfgang ama...,0.562328,"schlöndorffvolker, wurlitzerrudolph, frischmax...","schikanederemanuel, aberthermann",-0.050000,,eulenburg,-0.1,,,0.488889,homo faber,"die zauberflöte, a german opera : köchel no. 620",-0.1,,,0.000000,2 109,1
19982,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.500,2000aaaa,uuuuuuuu,0.428571,020000,010200,0.0,bk,vm,0.0,[0-7294-0744-6],[],-0.10,,,-0.100000,,,-0.050000,56,,-0.050000,voltaire,,0.504349,critical ed. by john renwick = [les oeuvres co...,"wolfgang amadeus mozart, august everding",0.491839,renwickjohn,"everdingaugust, mozartwolfgang amadeus",0.296992,voltaire foundation,philips,-0.1,,,0.445022,"the complete works of voltaire, traité sur la ...",zauberflöte,-0.1,,,0.000000,365,1 160
78451,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.500,aaaaaaaa,1985uuuu,1.000000,020000,020000,1.0,bk,bk,0.0,[],[0-14-043010-5],-0.10,,,-0.100000,,,-0.100000,,,-0.050000,mozartwolfgang amadeus,,-0.050000,,jane austen,-0.050000,,austenjane,0.612698,ernst eulenburg,penguin,-0.1,,,0.544444,die zauberflöte,emma,-0.1,,,0.555556,412,471
71910,0,-0.1,,,-0.1,,,-0.05,,"interkantonale lehrmittelzentrale (rapperswil,...",-0.1,,,-0.05,,4,0.625,2007aaaa,2002uuuu,0.111111,010200,030000,0.0,mu,vm,0.0,[],[3-906721-45-0],-0.05,9790006450510,,-0.050000,4553,,-0.100000,,,-0.050000,mozartwolfgang amadeus,,0.643295,w.a. mozart ; libretto von emanuel schikenader...,sigrid kessler... [et al.] ; [hrsg.:] interkan...,0.579321,"schelhassmartin, schikanederemanuel, mozartwol...",kesslersigrid,0.485931,bärenreiter,staatlicher lehrmittelverlag,-0.1,,,0.630219,"die zauberflöte, the magic flute : a german op...","bonne chance!, cours de langue française, 3, c...",-0.1,,,0.511111,1 245,195
3527,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.375,2015aaaa,1955uuuu,0.428571,020000,040000,0.0,bk,mu,0.0,[978-0-7294-0965-0],[],-0.10,,,-0.050000,,4357412,-0.050000,13,,0.535227,voltaire,mozartwolfgang amadeus,0.492929,sous la dir. de diego venturino = [les oeuvres...,mozart,0.590152,venturinodiego,mozartwolfgang amadeus,0.510652,voltaire foundation,polydor,-0.1,,,0.469431,"the complete works of voltaire, siècle de loui...",die zauberflöte [ ],-0.1,,,0.000000,407,1 2
55740,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.10,,,0.500,19702006,1998uuuu,0.111111,010100,020000,0.0,mu,bk,1.0,[],[],-0.05,"m006546756 (kritischer bericht, leinen)",,-0.050000,4553,,0.527778,5 19,115,1.000000,mozartwolfgang amadeus,mozartwolfgang amadeus,0.557125,wolfgang amadeus mozart ; in verbindung mit de...,justus lustig,0.441291,"grubergernot, orelalfred, faberrudolf",lustigjustus,-0.050000,bärenreiter,,-0.1,,,0.630952,"neue ausgabe sämtlicher werke, die zauberflöte...","die zauberflöte, frei nach emanuel schikaneder...",-0.1,,,0.000000,1 379,24
76368,0,-0.1,,,-0.1,,,-0.10,,,-0.1,,,-0.05,6,,0.500,2013aaaa,2008uuuu,0.428571,020000,020053,1.0,bk,bk,0.0,"[978-3-13-127286-7, 978-3-13-150826-3 (PDF)]","[978-3-598-31512-1 (print), 978-3-11-096916-0]",-0.10,,,-0.100000,,,-0.050000,,32 32,0.424868,trappehans-joachim,mortzfeldpeter,0.596552,"hans-joachim trappe, hans-peter schuster","mortzfeld, peter; raabe, paul",0.511111,schusterhans-peter,raabepaul,0.488889,thieme,de gruyter saur,-0.1,,,0.544553,ekg-kurs für isabel,katalog der graphischen porträts in der herzog...,-0.1,,,0.000000,325,1 407
62245,0,-0.1,,,-0.1,,,-0.05,,"interkantonale lehrmittelzentrale (rapperswil,...",-0.1,,,-0.10,,,0.625,19aaaaaa,1998uuuu,0.428571,010100,030100,1.0,mu,mu,1.0,[],[],-0.10,,,0.250000,4355,8521,-0.100000,,,-0.050000,mozartwolfgang amadeus,,0.613474,a german opera by emanuel schikaneder ; music ...,sigrid kessler... [et al.] ; [hrsg.:] interkan...,-0.050000,,kesslersigrid,-0.050000,,berner lehrmittel- und medienverl.,-0.1,,,0.545070,die zauberflöte,"bonne chance!, cours de langue française, 3, t...",-0.1,,,0.000000,1,2

uniques

,duplicates,coordinate_E_delta,coordinate_E_x,coordinate_E_y,coordinate_N_delta,coordinate_N_x,coordinate_N_y,corporate_full_delta,corporate_full_x,corporate_full_y,doi_delta,doi_x,doi_y,edition_delta,edition_x,edition_y,exactDate_delta,exactDate_x,exactDate_y,format_postfix_delta,format_postfix_x,format_postfix_y,format_prefix_delta,format_prefix_x,format_prefix_y,isbn_delta,isbn_x,isbn_y,ismn_delta,ismn_x,ismn_y,musicid_delta,musicid_x,musicid_y,part_delta,part_x,part_y,person_100_delta,person_100_x,person_100_y,person_245c_delta,person_245c_x,person_245c_y,person_700_delta,person_700_x,person_700_y,pubinit_delta,pubinit_x,pubinit_y,scale_delta,scale_x,scale_y,ttlfull_245_delta,ttlfull_245_x,ttlfull_245_y,ttlfull_246_delta,ttlfull_246_x,ttlfull_246_y,volumes_delta,volumes_x,volumes_y
104592,1,-0.1,,,-0.1,,,1.0,schweizerische normen-vereinigung,schweizerische normen-vereinigung,-0.1,,,-0.1,,,0.750,2013aaaa,2013uuuu,1.000000,020053,020053,1.0,bk,bk,1.0,[],[],-0.1,,,-0.10,,,-0.10,,,-0.1,,,-0.100000,,,-0.100000,,,-0.10,,,-0.1,,,0.838363,health informatics - personal health device co...,informatique de santé - communication entre di...,0.891371,medizinische informatik - kommunikation von ge...,medizinische informatik - kommunikation von ge...,1.000000,1,1
104345,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.750,2012aaaa,2012uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[978-3-7255-6535-1],[978-3-7255-6535-1],-0.1,,,-0.10,,,1.00,63 63,63 63,1.0,käserbeatrice,käserbeatrice,1.000000,beatrice käser,beatrice käser,-0.100000,,,1.00,schulthess,schulthess,-0.1,,,1.000000,"sozialleistungsbetrug, sozialversicherungsbetr...","sozialleistungsbetrug, sozialversicherungsbetr...",-0.100000,,,1.000000,244,244
103744,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.500,aaaaaaaa,18uuuuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[],[],-0.1,,,-0.10,,,-0.05,,3 8,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus,0.650351,wolfgang amadeus mozart ; emanuel schikaneder ...,von emanuel schikaneder ; musik von w.a. mozar...,0.848485,"mendelhermann, schikanederemanuel","schikanederemanuel, mendelhermann",-0.05,s. mode's verlag (gustav mode),,-0.1,,,1.000000,"die zauberflöte, oper in zwei akten","die zauberflöte, oper in zwei akten",-0.100000,,,0.666667,22,23
103839,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,1.0,5,5,0.750,2000aaaa,2000uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[3-254-08008-4],[3-254-08008-4],-0.1,,,-0.10,,,1.00,8008,8008,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus,0.790900,wolfgang amadeus mozart ; einf. und kommentar ...,wolfgang amadeus mozart ; einführung und komme...,-0.050000,,pahlenkurt,-0.10,,,-0.1,,,1.000000,"die zauberflöte, textbuch","die zauberflöte, textbuch",-0.100000,,,1.000000,270,270
104134,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.750,2000aaaa,2000uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[0-7294-0744-6],[0-7294-0744-6],-0.1,,,-0.10,,,1.00,56,56,1.0,voltaire,voltaire,1.000000,[voltaire] ; critical edition by john renwick,[voltaire] ; critical edition by john renwick,1.000000,renwickjohn,renwickjohn,-0.05,,voltaire foundation,-0.1,,,1.000000,traité sur la tolérance,traité sur la tolérance,-0.100000,,,1.000000,365,365
104597,1,-0.1,,,-0.1,,,1.0,schweizerische normen-vereinigung,schweizerische normen-vereinigung,-0.1,,,-0.1,,,0.750,2013aaaa,2013uuuu,1.000000,020053,020053,1.0,bk,bk,1.0,[],[],-0.1,,,-0.10,,,-0.10,,,-0.1,,,-0.100000,,,-0.100000,,,-0.10,,,-0.1,,,0.836010,informatique de santé - communication entre di...,health informatics - personal health device co...,0.868692,medizinische informatik - kommunikation von ge...,medizinische informatik - kommunikation von ge...,1.000000,1,1
103600,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.750,2005aaaa,2005uuuu,1.000000,020000,020000,1.0,bk,bk,1.0,[0-521-82437-0],[0-521-82437-0],-0.1,,,-0.10,,,-0.10,,,1.0,austenjane,austenjane,0.845843,jane austen ; ed. by richard cronin and doroth...,jane austen ; ed. by richard cronin ... [et al.],-0.050000,croninrichard,,-0.05,cambridge univ. press,,-0.1,,,1.000000,emma,emma,-0.100000,,,0.000000,600,599
104110,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.625,18801890,18uuuuuu,1.000000,010200,010200,1.0,mu,mu,1.0,[],[],-0.1,,,-0.05,5944,,-0.10,,,1.0,mozartwolfgang amadeus,mozartwolfgang amadeus,0.570046,von w.a. mozart ; klavierauszug,klavierauszug revidiert von gustav f. kogel ; ...,0.610593,mozartwolfgang amadeus,"kogelgustav friedrich, vogelemil",-0.05,c.f. peters,,-0.1,,,0.808333,"die zauberflöte, (il flauto magico) : oper in ...","die zauberflöte, oper in zwei akten",-0.100000,,,-0.050000,1 143,
103773,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.750,2005aaaa,2005uuuu,1.000000,010300,010300,1.0,vm,vm,0.0,[],[3-7655-8593-9],-0.1,,,-0.05,,99036,-0.10,,,-0.1,,,1.000000,ein film von luc jacquet,ein film von luc jacquet,0.851282,"jacquetluc, du montsky, bohringerromane",jacquetluc,-0.05,frenetic films,,-0.1,,,1.000000,die reise der pinguine,die reise der pinguine,-0.050000,,the emperor's journey,1.000000,1 82,1 82
104346,1,-0.1,,,-0.1,,,-0.1,,,-0.1,,,-0.1,,,0.750,2012aaaa,2012uuuu,0.428571,020000,020300,1.0,bk,bk,1.0,[978-3-7255-6535-1],[978-3-7255-6535-1],-0.1,,,-0.10,,,-0.05,63 63,,1.0,käserbeatrice,käserbeatrice,1.000000,beatrice käser,beatrice käser,-0.100000,,,1.00,schulthess,schulthess,-0.1,,,1.000000,"sozialleistungsbetrug, sozialversicherungsbetr...","sozialleistungsbetrug, sozialversicherungsbetr...",-0.100000,,,1.000000,244,244

duplicate

## Summary

This chapter covers the central area of feature construction. The features of the feature matrix have been generated for each attribute of Swissbib's raw data, deciding on its similarity metric. With these metric values, the feature base DataFrame has been extended and a new DataFrame with the attribute values of the pairs together with their calculated similarity value have been generated. The similarity values will be the final features for training and performance testing of the models, compare [[JudACaps](./A_References.ipynb#judacaps)].

In [77]:
columns_metadata_dict['similarity_metrics']

{'coordinate_E': LCSStr({'qval': 1, 'external': True}),
 'coordinate_N': LCSStr({'qval': 1, 'external': True}),
 'corporate_full': LCSStr({'qval': 1, 'external': True}),
 'doi': Identity({'qval': 1, 'external': True}),
 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x11f2f7510>, 'truncate': False, 'external': True}),
 'format_prefix': Identity({'qval': 1, 'external': True}),
 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}),
 'isbn': Identity({'qval': 1, 'external': True}),
 'ismn': Identity({'qval': 1, 'external': True}),
 'musicid': LCSStr({'qval': 1, 'external': True}),
 'part': StrCmp95({'long_strings': False, 'external': True}),
 'person_100': StrCmp95({'long_strings': False, 'external': True}),
 'person_700': StrCmp95({'long_strings': False, 'external': True}),
 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}),
 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}),
 'volumes': StrCmp95({'long_strings': False, 'external': True})}

The similarity metric decided for each attribute has been added as an additional piece of information to the columns metadata dictionary. The following table gives this summary in a structured form and lists the metric used for each attribute. Attributes with the same font color indicate similar types of values (description column) for better orientation.

| attribute     | subtype | description | similarity metric |
| ------------- |:--------|:------------|:------------------|
|<font color='red'>[coordinate](#coordinate)</font>|<font color='red'>\_E</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|               |<font color='red'>\_N</font>|<font color='red'>Code(9)</font>|<font color='red'>LCSStr</font>|
|<font color='blue'>[corporate](#corporate)</font>|<font color='blue'>\_full</font>|<font color='blue'>Name</font>|<font color='blue'>LCSStr</font>|
|<font color='green'>[doi](#doi)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='orange'>[edition](#edition)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='black'>[exactDate](#exactDate)</font>|         |<font color='black'>Date</font>|<font color='black'>Hamming</font>|
|<font color='red'>[format](#format)</font>|<font color='red'>\_prefix</font>|<font color='red'>Code(2)</font>|<font color='red'>Identity</font>|
|               |<font color='red'>\_postfix</font>|<font color='red'>Code(6)</font>|<font color='red'>Jaccard (qval=2)</font>|
|<font color='green'>[isbn](#isbn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[ismn](#ismn)</font>|         |<font color='green'>Identifier</font>|<font color='green'>Identity</font>|
|<font color='green'>[musicid](#musicid)</font>|         |<font color='green'>Identifier</font>|<font color='green'>LCSStr</font>|
|<font color='orange'>[part](#part)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|
|<font color='blue'>[person](#person)</font>|<font color='blue'>\_100</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_700</font>|<font color='blue'>Name</font>|<font color='blue'>StrCmp95</font>|
|               |<font color='blue'>\_245c</font>|<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='blue'>[pubinit](#pubinit)</font>|         |<font color='blue'>Name</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[scale](#scale)</font>|         |<font color='orange'>Number</font>|<font color='orange'>Jaccard</font>|
|<font color='blue'>[ttlfull](#ttlfull)</font>|<font color='blue'>\_245</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|               |<font color='blue'>\_246</font>|<font color='blue'>String</font>|<font color='blue'>Jaro</font>|
|<font color='orange'>[volumes](#volumes)</font>|         |<font color='orange'>Number</font>|<font color='orange'>StrCmp95</font>|

### Full Feature Matrix with Target Vector Handover

To hand over the resulting DataFrame of this chapter, the DataFrame is saved into a pickle file that will be read in the next chapters [Features Discussion and Dummy Classifier Baseline](./5_FeatureDiscussionDummyBaseline.ipynb) as input.

In [78]:
# Store into compressed intermediary file
with bz2.BZ2File(os.path.join(path_goldstandard,
                       'labelled_feature_matrix_full.pkl'), 'w') as df_output_file:
    pk.dump(df_attribute_with_sim_feature, df_output_file)

The full metadata dictionary is to be persisted for handover to subsequent chapters.

In [79]:
# The target is still needed for the feature matrix
columns_metadata_dict['features'].append('duplicates')

for k in columns_metadata_dict.keys():
    print(k, '\n', columns_metadata_dict[k], '\n')

data_analysis_columns
 ['coordinate_E', 'coordinate_N', 'corporate_full', 'doi', 'edition', 'exactDate', 'format_prefix', 'format_postfix', 'isbn', 'ismn', 'musicid', 'part', 'person_100', 'person_700', 'person_245c', 'pubinit', 'scale', 'ttlfull_245', 'ttlfull_246', 'volumes']

columns_to_use
 ['duplicates', 'coordinate_E_x', 'coordinate_E_y', 'coordinate_N_x', 'coordinate_N_y', 'corporate_full_x', 'corporate_full_y', 'doi_x', 'doi_y', 'edition_x', 'edition_y', 'exactDate_x', 'exactDate_y', 'format_prefix_x', 'format_prefix_y', 'format_postfix_x', 'format_postfix_y', 'isbn_x', 'isbn_y', 'ismn_x', 'ismn_y', 'musicid_x', 'musicid_y', 'part_x', 'part_y', 'person_100_x', 'person_100_y', 'person_700_x', 'person_700_y', 'person_245c_x', 'person_245c_y', 'pubinit_x', 'pubinit_y', 'scale_x', 'scale_y', 'ttlfull_245_x', 'ttlfull_245_y', 'ttlfull_246_x', 'ttlfull_246_y', 'volumes_x', 'volumes_y']

similarity_metrics
 {'coordinate_E': LCSStr({'qval': 1, 'external': True}), 'coordinate_N': LCSStr({'qval': 1, 'external': True}), 'corporate_full': LCSStr({'qval': 1, 'external': True}), 'doi': Identity({'qval': 1, 'external': True}), 'edition': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'exactDate': Hamming({'qval': 1, 'test_func': <function Base._ident at 0x11f2f7510>, 'truncate': False, 'external': True}), 'format_prefix': Identity({'qval': 1, 'external': True}), 'format_postfix': Jaccard({'qval': 2, 'as_set': False, 'external': True}), 'isbn': Identity({'qval': 1, 'external': True}), 'ismn': Identity({'qval': 1, 'external': True}), 'musicid': LCSStr({'qval': 1, 'external': True}), 'part': StrCmp95({'long_strings': False, 'external': True}), 'person_100': StrCmp95({'long_strings': False, 'external': True}), 'person_700': StrCmp95({'long_strings': False, 'external': True}), 'person_245c': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'pubinit': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'scale': Jaccard({'qval': 1, 'as_set': False, 'external': True}), 'ttlfull_245': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'ttlfull_246': Jaro({'qval': 1, 'long_tolerance': False, 'winklerize': False, 'external': True}), 'volumes': StrCmp95({'long_strings': False, 'external': True})}

features
 ['coordinate_E_delta', 'coordinate_N_delta', 'corporate_full_delta', 'doi_delta', 'edition_delta', 'exactDate_delta', 'format_prefix_delta', 'format_postfix_delta', 'isbn_delta', 'ismn_delta', 'musicid_delta', 'part_delta', 'person_100_delta', 'person_700_delta', 'person_245c_delta', 'pubinit_delta', 'scale_delta', 'ttlfull_245_delta', 'ttlfull_246_delta', 'volumes_delta', 'duplicates']

In [80]:
# Binary intermediary metadata file
with open(os.path.join(path_goldstandard,
                       'columns_metadata.pkl'), 'wb') as dict_output_file:
    pk.dump(columns_metadata_dict, dict_output_file)